    <section id="section" class="whiteModule section last">
        <div class="row para">

            <div class="six columns">
                Show Suite Now Open<br><br>
                8 Earle Street, Parnell<br>
                Auckland, 1052<br><br>
                <!--Wed to Sun 11am – 1pm<br>-->
                Show suite viewings available<br> by private appointment.<br><br>
                Enquiries:<br><br>
                Jason Gaddes<br>
                <a href="mailto:jason.gaddes@nzsir.com">jason.gaddes@nzsir.com</a><br>
                <a href="tel:021994921">+64 (0)21 994 921</a>
            </div>

            <div class="six columns threeP footerForm">
                {% set form = craft.formBuilder2.getFormByHandle('register') %}
    	    		{% set formSettings = form.formSettings %}
    	    		{% set spamProtectionSettings = form.spamProtectionSettings %}
    	    		{% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
    	    		{% set scripts = craft.formBuilder2.includeScripts(form) %}

    	    		{# Errors/Success Messages #}
    	    	  <div class="notifications">
    	    	    <p class="notification error-message">{{ craft.session.getFlash('error') | raw }}</p>
    	    	    <p class="notification success-message">{{ craft.session.getFlash('success') | raw }}</p>
    	    	    {% set errors = (errors is defined ? errors : null) %}
    	    	    {% if errors %}
    	    	    <ul class="errors">
    	    	      {% for error in errors %}
    	    	        <li>{{ error }}</li>
    	    	      {% endfor %}
    	    	    </ul>
    	    	    {% endif %}
    	    	  </div>

    	        <form method="post" accept-charset="utf-8" name="{{ form.handle }}" class="formbuilder2" id="{{ form.handle }}"{% if formSettings.hasFileUploads == '1' %} enctype="multipart/form-data"{% endif %}>
    	    		  <input type="hidden" name="action" value="formBuilder2/entry/submitEntry">
    	    		  <input type="hidden" name="redirect" data-custom-redirect="{{ formSettings.formRedirect.customRedirect }}" value="{{ formSettings.formRedirect.customRedirectUrl }}">
    	    		  <input type="hidden" name="formHandle" value="{{ form.handle }}">
    	    		  {% if spamProtectionSettings.spamTimeMethod == '1' %}<input type="hidden" name="spamTimeMethod" value="{{ 'now'|date('U') }}">{% endif %}
    	    		  {% if spamProtectionSettings.spamHoneypotMethod == '1' %}<div style="display:none;"><label for="email-addresss-new">{{ spamProtectionSettings.spamHoneypotMethodMessage }}</label><input name="email-address-new" value="" id="email-addresss-new"></div>{% endif %}
    	    		  {{ getCsrfInput() }}

    	    		  {# Fields #}
    	    		  {% for tab in tabs %}
    	    		    {% set fields = tab.getFields() %}
    	    		    <fieldset class="{{ tab.name | camelCase(tab.name) }}">
    	    		      {% for field in fields %}
    	    		        {% set input = craft.formBuilder2.getInputHtml(field) %}
    	    		        {{ input |raw }}
    	    		      {% endfor %}
    	    		    </fieldset>
    	    		  {% endfor %}

    	          <div class="space"></div>
    	          <input type="submit" value="Submit" />
    	    	</form>
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="twelve columns">
                <h4><a href="{{ siteUrl }}"><img src="/img/edition-black.svg" alt="Edition" title="Edition" width="188px" height="46.33px"></a></h4>
            </div>

        </div><!-- end row -->
    </section>
</div><!-- end fullpage -->
