// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.8em;
  letter-spacing: 0.002em;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
  background: $background;
  transition: background 0.2s ease-in-out;
}

.edition-page.fp-viewing-one{
    #menuShow{
        opacity: 0;
        transition: none;
    }
}

#menuShow{
    opacity: 1;
    transition: opacity 0.2s ease;
    transition-delay: 0.4s;
    font-size: 1.5rem;
    line-height: 2rem;
}

.menuContainer{
    position: fixed;
    width: 100%;
    z-index: 9999;
    .rowMenu{
        /*@media (#{$bp-larger-than-mobile}) {
            background: $background;
            padding-bottom: 3.3rem;
        }*/
        padding: 4.3rem 4.6rem 0;
        background: none;
        @media screen and (max-width: 750px) {
            padding: 2.1rem 2.3rem 1.8rem;
            background: $background;
            div{
                &.three.columns{
                    float: right;
                    width: 40%;
                    text-align: right;
                }
                &:first-child.three.columns.menuCol{
                    position: absolute;
                    float: left;
                    left: 2.3rem;
                    //right: 4.8rem;
                    width: 40%;
                }
            }
        }
        .threeP{
            /*@media (#{$bp-larger-than-mobile}) {
                display: none;
            }*/
            display: block;
            margin-left: 2%;
            @media screen and (max-width: 750px) {
                margin-left: 0;
                display: none;
            }
        }
    }
}

.ctaBar{
    display: none;
}

.edition-page{
    &.fp-viewing-one{
        .ctaBar{
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            transition: none;
        }
        .upDown{
            bottom: 5rem;
            transition: bottom 0.3s ease;
        }
    }
    &.ctaClose, &.fp-viewing-seven{
        .ctaBar{
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            transition: height 0.3s ease, padding 0.3s ease;
        }
        .upDown{
            bottom: 5rem;
            transition: bottom 0.3s ease;
        }
    }
    .upDown{
        bottom: 7.5rem;
        transition: bottom 0.3s ease;
    }
    section{
        .fullBorder{
            .fullCenter{
                margin: 3.25rem auto 0;
                transition: margin 0.3s ease;
            }
        }
    }
    section{
        .fullBorder{
            .row.fullCenter{
                margin: 4.35rem auto 0;
                transition: margin 0.3s ease;
            }
        }
    }
    &.ctaClose{
        .upDown{
            bottom: 5rem;
            transition: bottom 0.3s ease;
        }
        section{
            .fullBorder{
                .fullCenter{
                    margin: 5.75rem auto 0;
                    transition: margin 0.3s ease;
                }
            }
        }
        section{
            .fullBorder{
                .row.fullCenter{
                    margin: 6.6rem auto 0;
                    transition: margin 0.3s ease;
                }
            }
        }
    }
}

.edition-page{
    .ctaBar{
        height: 2.5rem;
        display: block;
        background: $blue;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        color: $white;
        z-index: 999;
        padding: 1.4rem 4.6rem;
        transition: height 0.8s ease, padding 0.8s ease;
        @media screen and (max-width: 750px) {
            padding: 1.4rem 2.3rem;
        }
        .register{
            color: $white;
        }
        .ctaRight{
            text-align: right;
            cursor: pointer;
        }
    }
}

.edition-page{
    .ctaBar{
        .six{
            width: 50%;
            float: left;
            &.ctaRight{
                width: 40%;
                float: right;
            }
        }
    }
}

.edition-page{
    .blueNav{
        ul{
            li:nth-child(1){
                opacity: 0.4;
                a, a:hover{
                    opacity: 1;
                }
            }
        }
    }
}

.architecture-page{
    .blueNav{
        ul{
            li:nth-child(2){
                opacity: 0.4;
                a, a:hover{
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (max-width: 750px) {
        #section0{
            .botTitle{
                display: none;
            }
        }
    }
}

.interiors-page{
    .blueNav{
        ul{
            li:nth-child(3){
                opacity: 0.4;
                a, a:hover{
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (max-width: 750px) {
        #section0{
            .botTitle{
                display: none;
            }
        }
    }
}

.location-page{
    .blueNav{
        ul{
            li:nth-child(4){
                opacity: 0.4;
                a, a:hover{
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (max-width: 750px) {
        #section0{
            .botTitle{
                display: none;
            }
        }
    }
}

.monk.mackenzie-page, .bureaux-page, .lep.group-page{
    .blueNav{
        ul{
            li:nth-child(5){
                opacity: 0.4;
                a, a:hover{
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (max-width: 750px) {
        #section0{
            .botTitle{
                display: none;
            }
        }
    }
}

.floor.plans-page{
    .blueNav{
        ul{
            li:nth-child(6){
                opacity: 0.4;
                a, a:hover{
                    opacity: 1;
                }
            }
        }
    }
    &.fp-viewing-one section#section0.whiteModule .threeP{
        width: 50%;
        @media screen and (max-width: 750px) {
            width: 100%;
        }
    }
    @media screen and (max-width: 750px) {
        #section0{
            .botTitle{
                display: none;
            }
        }
    }
}

.gallery-page{
    .blueNav{
        ul{
            li:nth-child(7){
                opacity: 0.4;
                a, a:hover{
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (max-width: 750px) {
        #section0{
            .botTitle{
                display: none;
            }
        }
    }
}

.contact-page{
    .blueNav{
        ul{
            li:nth-child(8){
                opacity: 0.4;
                a, a:hover{
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (max-width: 750px) {
        #section0{
            .botTitle{
                display: none;
            }
        }
    }
}

.touchevents{
    #header{
        background: url('/uploads/edition-parnell-home-hero.jpg') no-repeat;
        background-position: center center;
        background-size: cover;
        li{
            display: none !important;
        }
    }
}

#header{
  position: relative;
  line-height: 0;
  padding: 0;
  overflow: hidden;
  /*height: 100vh;*/
  background: url('/uploads/edition-parnell-home-hero.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  &.holding{
      .edition{
          //top: 36%;
          h1{
              font-size: 0;
              margin-bottom: 0;
          }
      }
  }
  li{
      margin: 0;
      img.frame{
          width: 100% !important;
          height: 100vh !important;
      }
  }
  @media screen and (max-width: 750px) {
      height: 90vh !important;
      background: url('/uploads/edition-parnell-home-hero.jpg') no-repeat;
      background-position: center center;
      background-size: cover;
      li{
          display: none !important;
      }
      &.holding{
          height: 100vh !important;
          .fp-tableCell{
              height: 100vh !important;
          }
      }
      .fp-tableCell{
          height: 90vh !important;
      }
  }
  > img:first-child{
    display: none;
    opacity: 0;
  }
}

.headDown{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    @media screen and (max-width: 750px) {
        z-index: 99;
    }
}

.edition{
  position: absolute;
  width: auto;
  bottom: 0;
  left: 4.6rem;
  z-index: 99999;
  @media screen and (max-width: 750px) {
      //top: 40vh;
      & img{
          max-width: 210px;
      }
  }
    h1{
      color: $white;
      text-align: center;
      font-weight: 600;
      margin-bottom: 4.6rem;
      line-height: 0;
    }
}

.downArrow{
  position: absolute;
  left: 0;
  bottom: 2.6rem;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 2.2rem;
  height: 3.2rem;
  animation: pulse 1s ease infinite;
  z-index: 999;
  &:before{
      width: 2rem;
      height: 2rem;
      border-right: 2px solid $white;
      border-bottom: 2px solid $white;
      position: absolute;
      content: " ";
      transform: rotate(45deg);
      transition: all 0.2s ease-in-out;
  }
}

@keyframes pulse {
    0% {
        transform: translateY();
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateY(1rem);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY();

    }
}

.upDown{
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    z-index: 9999;
    @media screen and (max-width: 750px) {
        display: none;
    }
    div{
        width: 0;
        height: 0;
        opacity: 1;
        transition: opacity 0.6s ease;
        cursor: pointer;
        &:first-child{
            border-left: 0.6rem solid transparent;
            border-right: 0.6rem solid transparent;
            border-bottom: 1.2rem solid $blue;
            margin-bottom: 0.6rem;
            &:hover{
                opacity: 0.6;
            }
        }
        &:last-child{
            border-left: 0.6rem solid transparent;
            border-right: 0.6rem solid transparent;
            border-top: 1.2rem solid $blue;
            margin-top: 0.6rem;
            &:hover{
                opacity: 0.6;
            }
        }
    }
}

.fp-viewing-one{
    .upDown{
        div{
            &:first-child{
                opacity: 0.2;
                cursor: default;
            }
        }
    }
}

/*.edition-page.fp-viewing-one{
    .upDown div:first-child{
        border-bottom: 1.2rem solid $background;
    }
    .upDown div:last-child{
        border-top: 1.2rem solid $background;
    }
}*/

.edition-page.fp-viewing-seven,
.architecture-page.fp-viewing-five,
.interiors-page.fp-viewing-six,
.location-page.fp-viewing-six,
.mackenzie-page.fp-viewing-five,
.plans-page.fp-viewing-two,
.gallery-page.fp-viewing-two,
.contact-page.fp-viewing-two{
    .upDown{
        div{
            &:last-child{
                opacity: 0.2;
                cursor: default;
            }
        }
    }
}

.lep.group-page.fp-viewing-three{
    .upDown{
        div{
            &:last-child{
                opacity: 0.2;
                cursor: default;
            }
        }
    }
}

.menuCol{
    position: relative;
}

.btn {
  position: absolute;
  width: 7.2rem;
  height: 3rem;
  top: -0.32rem;
  left: 0;
  transition-duration: 0.5s;
  z-index: 999;
  @media screen and (min-width: 1680px) {
      width: 6.2rem;
  }
}
.btn .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 0;
  width: 3rem;
  top: 1.2rem;
  left: 0;
  background-color: $primary-color;
  @media screen and (max-width: 750px) {
      text-align: left;
  }
}
.btn .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 1.6rem;
  height: 1px;
  background-color: $primary-color;
  content: "";
  top: -4px;
}
.btn .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 1.6rem;
  height: 1px;
  background-color: $primary-color;
  content: "";
  top: 4px;
}
.btn.open .icon {
  transition: 0.5s;
}
.btn.open .icon:before {
  transform: rotateZ(45deg) scaleX(1) translate(0, 5.6px);
  background-color: $white;
}
.btn.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1) translate(0, -6px);
  background-color: $white;
}
.btn:hover {
  cursor: pointer;
}

.menuWord{
    position: absolute;
    width: 0.6rem;
    top: 0;
    left: 3rem;
    color: $primary-color;
    @media screen and (min-width: 1680px) {
        right: 0;
    }
}

.openMenu{
    .menuWord{
        color: $white;
        transition: opacity 0.4s ease;
        &:hover{
            opacity: 0.4;
        }
    }
}

.fullMenu{
  height: 0;
  nav{
    display: none;
  }
  .whiteMenu{
      opacity: 0;
      height: 0;
  }
}

.fullMenu.openMenu{
  height: 100vh;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $blue;
  z-index: 888;
  transition: background 0.4s ease;
  nav{
    display: block;
  }
  .whiteMenu{
      opacity: 1;
      height: 3rem;
      @media screen and (max-width: 750px) {
          background: $blue;
          transition: background 0.4s ease;
      }
  }
}

.blueNav{
  padding: 0 4.6rem;
  position: relative;
  height: 90%;
  @media screen and (max-width: 750px) {
      padding: 0 2.3rem;
      height: calc(100% - 6.9em);
  }
  ul{
    position: absolute;
    bottom: 0;
    @media screen and (max-width: 750px) {
        margin: 2rem 0 0;
        display: block;
        bottom: inherit;
    }
    li{
      list-style: none;
      margin: 0;
      font-weight: 600;
      h4{
          font-size: 5.6rem;
          line-height: 4.2rem;
          @media screen and (max-width: 750px) {
              font-size: 4rem;
              line-height: 2.8rem;
          }
          @media (#{$bp-larger-than-hd}) {
              font-size: 7.5rem;
              line-height: 6.2rem;
          }
      }
    }
  }
}

.nav {
  ul{
    li{
      list-style: none;
      margin: 0;
      line-height: 2rem;
    }
  }
}

.register{
    cursor: pointer;
    &:hover{
        opacity: 0.4;
    }
}

.openMenu .register{
    color: $white;
}

.registerMenu{
    width: 0;
    height: 0;
    opacity: 0;
    transition: width 0.2s ease;
}

.registerMenu{
    &.openRegister{
        opacity: 1;
        width: 50vw;
        padding: 4.6rem 0;
        height: 100vh;
        background: $blue;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        @media screen and (max-width: 750px) {
            width: 100%;
            padding: 2.3rem 0;
        }
        form{
            margin-top: 22vh;
            position: absolute;
            top: 0;
            left: 4.6rem;
            right: 4.6rem;
            @media screen and (max-width: 750px) {
                left: 2.3rem;
                right: 2.3rem;
            }
        }
        .formWrap{
            padding: 0 4.6rem;
            color: $background;
            @media screen and (max-width: 750px) {
                padding: 0 2.3rem;
            }
            .closeObj{
                position: absolute;
                top: 4.6rem;
                @media screen and (max-width: 750px) {
                    top: 2.3rem;
                }
            }
            .slideClose{
                color: $white;
                font-size: 1.6rem;
                cursor: pointer;
                /*-webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-rendering: optimizeLegibility;*/
            }
            .closeWord{
                font-size: 1.4rem;
                padding-left: 1rem;
            }
        }
    }
}

.footerForm{
    .notifications{
        p{
            margin-bottom: 0;
        }
    }
    form{
        @media screen and (max-width: 750px) {
            margin-bottom: 8rem;
        }
        .form{
            .field, .input{
                margin-bottom: 0 !important;
            }
            .input{
                input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"]{
                    border-bottom: 1px solid #AAA;
                    color: $primary-color;
                }
                ::-webkit-input-placeholder {
                   color: $primary-color;
                }
                :-moz-placeholder {
                   color: $primary-color;
                }
                ::-moz-placeholder {
                   color: $primary-color;
                }
                :-ms-input-placeholder {
                   color: $primary-color;
                }
            }
        }
        input[type="submit"], input[type="reset"], input[type="button"]{
                color: $primary-color;
        }
    }
}

.hide-lg{
    display: none !important;
    @media screen and (max-width: 750px) {
        display: block !important;
    }
}

.hide-sm{
    display: block !important;
    @media screen and (max-width: 750px) {
        display: none !important;
    }
}

section{
    position: relative;
    padding: 0 4.6rem;
    @media screen and (max-width: 750px) {
        padding: 0 2.3rem;
    }
    @media screen and (max-width: 750px) {
        .fp-slide{
            .fullBorder{
                margin-bottom: 0;
            }
        }
    }
    .fullBorder{
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        @media screen and (max-width: 750px) {
            display: block;
            position: relative;
            margin-bottom: 4rem;
        }
        .fullCenter{
            max-width: 60%;
            margin: 5.75rem auto 0;
            @media screen and (max-width: 750px) {
                max-width: 100%;
                margin: 0;
            }
        }
        .row{
            &.fullCenter{
                max-width: 100%;
                margin: 6.6rem auto 0;
                @media screen and (max-width: 750px) {
                    max-width: 100%;
                    margin: 0;
                }
                div:nth-child(2){
                    .double{
                        margin-right: 3rem;
                        @media screen and (max-width: 750px) {
                            margin: 0 0 4rem;
                        }
                    }
                }
                div:nth-child(3){
                    .double{
                        margin-left: 3rem;
                        @media screen and (max-width: 750px) {
                            margin: 0 0 4rem;
                        }
                    }
                }
                .double{
                    margin: 0;
                }
                &.doubleSplit{
                    padding: 0;
                }
            }
        }
    }
    .slide{
        figure{
            margin-top: 0;
            margin-bottom: 0;
            @media screen and (max-width: 750px) {
                margin: 0;
            }
        }
    }
    figure{
        margin-top: 16%;
        @media (#{$bp-larger-than-hd}) {
            margin-top: 10%;
        }
        &.double{
            margin-top: 39%;
            @media (#{$bp-larger-than-hd}) {
                margin-top: 21%;
            }
        }
    }
    .blueOverlay{
        position: relative;
        line-height: 0.1;
        .overColour{
            opacity: 0;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background: $blue-hover;
            transition: opacity 0.2s ease;
        }
        &:hover .overColour{
            opacity: 0.88;
        }
        &:hover > figcaption{
            color: $blue;
        }
    }
    li.currentGall{
        .blueOverlay{
            .overColour{
                opacity: 0.88;
            }
        }
    }
    .doubleSplit{
        padding: 12% 0 0 0;
        position: relative;
        figure{
            &.double{
                margin-top: 0;
            }
        }
        .absImg{
            position: absolute;
            bottom: 0;
            right: 17%;
            @media screen and (max-width: 750px) {
                position: relative;
                right: inherit;
                .double{
                    margin-bottom: 5rem !important;
                }
            }
            .double{
                margin-right: 0 !important;
                figcaption{
                    padding-top: 0;
                    line-height: 2.3rem;
                }
            }
            &.locBot{
                .double{
                    figcaption{
                        padding-top: 0.6rem;
                    }
                }
            }
        }
        .split{
            .six{
                figure{
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
    &.blueModule{
        background: $blue;
    }
    &.whiteModule{
        .rowHead{
            padding-top: 3rem;
        }
        .threeP{
            margin-left: 2%;
            @media screen and (max-width: 750px) {
                margin-left: 0;
            }
        }
        .botTitle{
            position: absolute;
            left: 0;
            bottom: 2.2rem;
            right: 4.6rem;
            z-index: -1;
            @media screen and (max-width: 750px) {
                bottom: 1.2rem;
            }
        }
        &.last{
            padding-bottom: 0;
            line-height: 2rem;
            .row.para div:nth-child(2){
                margin-bottom: 2rem;
                @media screen and (max-width: 750px) {
                    margin-top: 2rem;
                }
            }
            .row.para div:nth-child(3){
                margin-bottom: 10rem;
                @media screen and (max-width: 750px) {
                    margin-bottom: 16rem;
                }
            }
            .row.para{
                div:first-child, div:nth-child(2){
                    a, a:visited{
                        &:hover, &:active{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    &.blackModule{
        color: $background;
        .rowHead{
            padding-top: 3rem;
        }
        .threeP{
            margin-left: 2%;
            @media screen and (max-width: 750px) {
                margin-left: 0;
            }
        }
        .botTitle{
            position: absolute;
            left: 0;
            bottom: 2.2rem;
            right: 4.6rem;
            z-index: -1;
            .locationBox{
                background: none;
            }
            h4{
                color: $background;
            }
        }
        h5{
            color: $background;
            line-height: 1rem;
            opacity: 1;
            transition: opacity 0.2s ease;
            &:hover{
                color: $background;
                opacity: 0.4;
            }
        }
        &.last{
            padding-bottom: 0;
            line-height: 2rem;
            .row.para div:nth-child(2){
                margin-bottom: 2rem;
            }
            .row.para div:nth-child(3){
                margin-bottom: 10rem;
            }
            .row.para{
                div:first-child, div:nth-child(2){
                    a, a:visited{
                        &:hover, &:active{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .fp-tableCell{
        position: relative;
    }
    .fullView{
        width: 100%;
        top: 11rem;
        position: absolute;
        bottom: 4.6rem;
        &.arcView{
            background: url(/uploads/architecture-hero.jpg);
            background-position: center center;
            background-size: cover;
        }
        &.extView{
            background: url(/uploads/edition-parnell-home-hero.jpg);
            background-position: center center;
            background-size: cover;
        }
        &.intView{
            background: url(/uploads/interiors-hero.jpg);
            background-position: center center;
            background-size: cover;
        }
        &.monkView{
            background: url(/uploads/monk-hero.jpg);
            background-position: center center;
            background-size: cover;
        }
        &.burView{
            background: url(/uploads/bureaux-hero.jpg);
            background-position: center center;
            background-size: cover;
        }
    }
}

body.location-page{
    .blackModule{
        @media screen and (max-width: 750px) {
            h5:hover{
                opacity: 1;
            }
        }
    }
}

body.location-page.fp-viewing-three, body.mackenzie-page.fp-viewing-one{
    background: $primary-color;
    transition: background 0.2s ease-in-out;
    @media screen and (max-width: 750px) {
        .menuContainer{
            .rowMenu{
                background: $primary-color;
            }
            .openMenu{
                .rowMenu{
                    background: $blue;
                }
            }
        }
    }
    a, a:visited, .register, .menuWord{
        color: $background;
    }
    .icon{
        &:before, &:after{
            background-color: $background;
        }
    }
    .upDown div:first-child{
        border-bottom: 1.2rem solid $background;
    }
    .upDown div:last-child{
        border-top: 1.2rem solid $background;
    }
    .nav{
        .blueLink{
            a{
                opacity: 0.4;
            }
        }
        a, a:visited{
            opacity: 1;
            transition: opacity 0.2s ease;
        }
        a:hover{
            opacity: 0.4;
        }
    }
}

body.mackenzie-page.fp-viewing-one{
    section.blackModule .botTitle h4 {
        line-height: 7.8rem;
        @media screen and (min-width: 1680px) {
            line-height: 11rem;
        }
    }
}

body.bureaux-page.fp-viewing-one{
    background: $blue;
    transition: background 0.2s ease-in-out;
    @media screen and (max-width: 750px) {
        .menuContainer{
            .rowMenu{
                background: $blue;
            }
        }
    }
    a, a:visited, .register, .menuWord{
        color: $background;
    }
    .icon{
        &:before, &:after{
            background-color: $background;
        }
    }
    .upDown div:first-child{
        border-bottom: 1.2rem solid $background;
    }
    .upDown div:last-child{
        border-top: 1.2rem solid $background;
    }
    .nav{
        .blueLink{
            a{
                opacity: 0.4;
            }
        }
        a, a:visited{
            opacity: 1;
            transition: opacity 0.2s ease;
        }
        a:hover{
            opacity: 0.4;
        }
    }
}

section.blueModule{
  .white{
    line-height: 2rem;
  }
}

.wow { visibility: hidden; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

figcaption{
    padding-top: 0.6rem;
    p{
        display: block;
        margin-top: 0.4rem;
    }
}

/*.squareSec{
    position: relative;
    .squareBot{
        position: absolute;
        bottom: 0;
        figure{
            margin-left: 0;
            margin-right: 0;
        }
    }
}*/

.para{
  padding: 22vh 0;
  @media screen and (max-width: 750px) {
      padding: 7rem 0;
      nav{
            display: none;
      }
  }
}

.blue{
  padding: 0;
}

.white p{
  color: $white;
}

.dead{
  height: 0.4rem;
}

// location

ul.localList{
    display: block;
    line-height: 1rem;
    li{
        list-style: none;
        cursor: pointer;
        &.current{
            opacity: 1;
            span:hover{
                color: $background;
                opacity: 1;
            }
        }
    }
}

.placeholderBox{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -111;
}

.locationBox{
    background: $light-grey;
    z-index: 888;
    padding-top: 0.2rem;
}

.location-page{
    @media screen and (max-width: 750px) {
        #section2{
            .botTitle{
                .locationBox, .placeholderBox{
                    .six{
                        width: 50%;
                        float: left;
                    }
                }
            }
        }
    }
    #section4{
        .fullView{
            overflow: hidden;
            @media screen and (max-width: 750px) {
                overflow: initial;
                position: relative;
                top: 0;
            }
        }
    }
}

#map{
    width: 100%;
    height: 100vh;
    @media screen and (max-width: 750px) {
        height: 40rem;
    }
}

.leaflet-bar.leaflet-control{
    border: 2px solid $dark-grey !important;
    border-radius: 0;
}

.leaflet-bar a:first-child, .leaflet-bar a:last-child{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

// The Team

.monk.mackenzie-page,
.bureaux-page,
.lep.group-page{
    background: $dark-grey;
    .teamTitle{
        h3{
            color: $primary-color;
        }
    }
    @media screen and (max-width: 750px) {
        .menuContainer{
            .rowMenu{
                background: $dark-grey;
            }
            .openMenu{
                .rowMenu{
                    background: $blue;
                }
            }
        }
    }
}

// Floor plans

.floor-column{
    display: inline-block;
    width: 19%;
    @media screen and (max-width: 750px) {
        width: 100%;
    }
}

.mob-floor-column{
    width: 50%;
    float: left;
    position: relative;
    &.arw{
        &:before{
            position: absolute;
            right: 0.2rem;
            content: '↓';
            padding-top: 0.2rem;
            top: -0.2rem;
            color: $blue;
            opacity: 1;
        }
    }
}

.accordionWrap{
    line-height: 2;
    width: 50%;
    .row{
        border-bottom: 1px solid $table-grey;
        color: $table-grey;
        transition: color 0.2s ease;
        &.accordionHead{
            border-top: 1px solid $table-grey;
            color: $primary-color;
        }
        a{
            color: $table-grey;
            transition: color 0.2s ease;
            opacity: 1;
            &:hover{
                color: $blue;
                opacity: 1;
            }
        }
        &:hover{
            color: $blue;
        }
    }
    .accordion{
        position: relative;
        &:before{
            width: 0.8rem;
            height: 0.8rem;
            border-right: 1.4px solid $table-grey;
            border-bottom: 1.4px solid $table-grey;
            position: absolute;
            right: 0.4rem;
            content: " ";
            top: 0.88rem;
            transform: rotate(-45deg);
            transition: all 0.2s ease-in-out;
        }
        &.open{
            [data-control]{
                color: $primary-color;
            }
            &:before{
                transform: rotate(45deg);
                transition: all 0.2s ease-in-out;
            }
            [data-content]{
                .row:hover{
                    .floor-column.five{
                        &:before{
                            position: absolute;
                            right: 0.2rem;
                            content: '↓';
                            padding-top: 0.2rem;
                            color: $blue;
                            opacity: 1;
                        }
                    }
                }
                .floor-column:hover{
                    &.five{
                        &:before{
                            position: absolute;
                            right: 0.2rem;
                            content: '↓';
                            padding-top: 0.2rem;
                            color: $blue;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    [data-control]{
        cursor: pointer;
        border-bottom: 1px solid $table-grey;
        color: $table-grey;
        transition: color 0.2s ease;
        &:hover{
            color: $blue;
        }
    }
}

.video{
    .fullCenter{
        text-align: center;
        max-width: 100%;
        iframe{
            @media screen and (max-width: 750px) {
                width: 310px;
                height: 174px;
            }

            width: 390px;
            height: 219px;

            @media screen and (min-width: 751px) {
                width: 411px;
                height: 231px;
            }
            @media screen and (min-width: 980px) {
                width: 540px;
                height: 304px;
            }
            @media screen and (min-width: 1200px) {
                width: 712px;
                height: 401px;
            }
            @media screen and (min-width: 1680px) {
                width: 944px;
                height: 531px;
                @media screen and (min-width: 1880px) {
                    width: 1200px;
                    height: 675px;
                }
            }
        }
    }
}

// Gallery

.six.columns.threeP.gall{
    width: 50%;
    @media screen and (max-width: 750px) {
        width: 100%;
    }
}

ul.galleryGrid{
    li{
        width: 23.6%;
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0 0 1.86666667% 1.86666667%;
        @media screen and (max-width: 750px) {
            width: 48%;
            &:nth-child(odd){
                padding-right: 2% !important;
                padding-left: 0;
            }
            &:nth-child(even){
                padding-left: 2% !important;
            }
        }
        &:nth-child(1), &:nth-child(5), &:nth-child(9){
            padding: 0;
        }
    }
}

@media screen and (max-width: 750px) {
    .fp-section,
    .fp-slide,
    .fp-tableCell{
        height: auto !important;
    }
}

#regHeader{
    .success{
        text-align: center;
        margin-top: 26%;
        position: relative;
        left: 0;
    }
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a, a:visited, .register{
  color: $link-color;
  opacity: 1;
  transition: opacity 0.4s ease;
  text-decoration: none;
  &:hover {
    color: $blue;
    opacity: 1; //0.4;
  }
}

.openMenu .register{
    color: $white;
    &:hover{
        opacity: 0.4;
        color: $white;
    }
}

#header, .fullMenu{
  a, a:visited{
    color: $head-link-color;
    opacity: 1;
    transition: opacity 0.4s ease;
    text-decoration: none;
    &:hover {
      opacity: 0.4;
    }
  }
}

.blue{
  a, a:visited{
    color: $head-link-color;
    opacity: 1;
    transition: opacity 0.4s ease;
    text-decoration: none;
    &:hover {
      opacity: 0.4;
    }
  }
}

.blueLink{
  a, a:visited{
    color: $blue;
    opacity: 1;
    transition: opacity 0.4s ease;
    text-decoration: underline;
    &:hover {
      opacity: 0.4;
    }
  }
}

.nav{
    .blueLink{
      a, a:visited{
        color: $blue;
        opacity: 1;
        transition: opacity 0.4s ease;
        text-decoration: none;
        &:hover {
          opacity: 0.4;
        }
      }
    }
}

.teamLink{
    a, a:visited{
        color: $primary-color;
        text-decoration: none;
        opacity: 1;
        transition: opacity 0.4s ease;
        &:hover{
            opacity: 0.4;
        }
    }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}
