// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;  }
h2 {
    font-size: 2.3rem;
    line-height: 1.45;
    letter-spacing: -.1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem;  }
h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    font-family: 'Neutral Medium', sans-serif;
    letter-spacing: -.08rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0;       }

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 { font-size: 9.0rem; }
  h2 {
      font-size: 2.5rem;
      letter-spacing: 0.006rem;
      line-height: 3rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
  }
  h3 { font-size: 2.2rem; }
  h4 {
      font-size: 8.2rem;
      font-family: 'Neutral Medium', sans-serif;
      letter-spacing: -.28rem;
      line-height: 6.8rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
  }
  h5 {
      font-size: 2.5rem;
      letter-spacing: 0.006rem;
      line-height: 3rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
 }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1680px) {
    h4 {
        font-size: 11.8rem;
        letter-spacing: -.38rem;
        line-height: 11rem;
    }
}
