// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 300px" !default;
$bp-larger-than-phablet   : "min-width: 750px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;
$bp-larger-than-hd : "min-width: 1450px" !default;

// Colors
$light-grey: #EBEBEB !default;
$dark-grey: #D0D0D0 !default;
$table-grey: #A0A09D !default;
$primary-color: #111111 !default;
$link-color: #111111 !default;
$head-link-color: #FFFFFF !default;
$font-color: #323232 !default;
$white: #FFFFFF !default;
$blue: #10069F !default;
$blue-hover: #0006A2 !default;
$background: #EBEBEB;

// Typography
$font-family: 'Neutral Regular', sans-serif !default;

/*@font-face {
  font-family: 'Neutral';
  src: url("/font/NeutralStd-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Medium';
  src: url("/font/NeutralStd-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}*/

//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 100% !default;
$container-width-larger-than-phablet: 100% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
