{% extends "_soon" %}

{% block content %}
<div class="container">

  <section id="register" class="blueModule">

    <div class="row blue">
      <div class="two columns">
        <a href="/">Edition Parnell</a>
      </div>
      <div class="four columns dead">
        &nbsp;
      </div>
      <div class="two columns">
        <a href="/#register" rel="m_PageScroll2id">Register Your Interest</a>
      </div>
      <div class="four columns">
        &nbsp;
      </div>
    </div><!-- end row -->

    <div class="row para">
      <div class="five columns white">
        <p>Eighteen exquisitely designed apartments by Monk Mackenzie with interiors from Bureaux. Set just five minutes’ drive from Auckland's central city, Edition is situated on 2 Churton Street in the heart of Parnell. Register your interest for more information.</p>
      </div>
      <div class="one columns">
        &nbsp;
      </div>
      <div class="six columns">
        {% set form = craft.formBuilder2.getFormByHandle('register') %}
    		{% set formSettings = form.formSettings %}
    		{% set spamProtectionSettings = form.spamProtectionSettings %}
    		{% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
    		{% set scripts = craft.formBuilder2.includeScripts(form) %}

    		{# Errors/Success Messages #}
    	  <div class="notifications">
    	    <p class="notification error-message">{{ craft.session.getFlash('error') | raw }}</p>
    	    <p class="notification success-message">{{ craft.session.getFlash('success') | raw }}</p>
    	    {% set errors = (errors is defined ? errors : null) %}
    	    {% if errors %}
    	    <ul class="errors">
    	      {% for error in errors %}
    	        <li>{{ error }}</li>
    	      {% endfor %}
    	    </ul>
    	    {% endif %}
    	  </div>

        <form method="post" accept-charset="utf-8" name="{{ form.handle }}" class="formbuilder2" id="{{ form.handle }}"{% if formSettings.hasFileUploads == '1' %} enctype="multipart/form-data"{% endif %}>
    		  <input type="hidden" name="action" value="formBuilder2/entry/submitEntry">
    		  <input type="hidden" name="redirect" data-custom-redirect="{{ formSettings.formRedirect.customRedirect }}" value="{{ formSettings.formRedirect.customRedirectUrl }}">
    		  <input type="hidden" name="formHandle" value="{{ form.handle }}">
    		  {% if spamProtectionSettings.spamTimeMethod == '1' %}<input type="hidden" name="spamTimeMethod" value="{{ 'now'|date('U') }}">{% endif %}
    		  {% if spamProtectionSettings.spamHoneypotMethod == '1' %}<div style="display:none;"><label for="email-addresss-new">{{ spamProtectionSettings.spamHoneypotMethodMessage }}</label><input name="email-address-new" value="" id="email-addresss-new"></div>{% endif %}
    		  {{ getCsrfInput() }}

    		  {# Fields #}
    		  {% for tab in tabs %}
    		    {% set fields = tab.getFields() %}
    		    <fieldset class="{{ tab.name | camelCase(tab.name) }}">
    		      {% for field in fields %}
    		        {% set input = craft.formBuilder2.getInputHtml(field) %}
    		        {{ input |raw }}
    		      {% endfor %}
    		    </fieldset>
    		  {% endfor %}

          <div class="space"></div>
          <input type="submit" value="Submit" />
    		</form>

      </div>
    </div>

  </section>

  <section class="whiteModule last">
    <div class="row">
      <div class="two columns">
        <a href="/">Edition Parnell</a>
      </div>
      <div class="four columns dead">
        &nbsp;
      </div>
      <div class="two columns">
        <a href="/#register" rel="m_PageScroll2id">Register Your Interest</a>
      </div>
      <div class="four columns">
        &nbsp;
      </div>
    </div><!-- end row -->

    <div class="row para">
      <div class="six columns">
        Contact
      </div>
      <div class="three columns">
        Show Suite:<br>
        <a href="https://www.google.co.nz/maps/place/8+Earle+St,+Parnell,+Auckland+1052/data=!4m2!3m1!1s0x6d0d480f437ba213:0x8932591b2546c2a7?sa=X&ved=0ahUKEwi19ZT_6ZPUAhXMgLwKHWUuDeoQ8gEIJjAA" target="_blank" rel="noopener noreferrer">8 Earle Street<br>
        Parnell, Auckland, 1052<br>
        New Zealand</a>
      </div>
      <div class="three columns">
        <a href="mailto:info@editionparnell.co.nz">info@editionparnell.co.nz</a><br>
        <!--<a href="https://facebook.com" target="_blank" rel="noopener noreferrer">Facebook</a>-->
      </div>
    </div><!-- end row -->

    <div class="row">
      <div class="twelve columns">
        <h4><a href="{{ siteUrl }}"><img src="/img/edition-black.svg" alt="Edition" title="Edition" width="195px"></a></h4>
      </div>
    </div>

  </section>

</div><!-- end container -->
{% endblock %}
