{% extends "_layout" %}

{% block content %}
<div id="fullpage" class="container">

  <section id="header" class="section">
    <div class="edition">
         <h1><a href="{{ siteUrl }}"><img src="/img/edition.svg" alt="Edition" title="Edition" width="195px"></a></h1>
    </div>
    <div class="downArrow" data-menuanchor="info">
      <a href="#info"><img src="/img/arrow.png" alt="Title" title="Down" width="40px"></a>
    </div>
  </section>

  <section id="section0" class="whiteModule section">
    <div class="row">
      <div class="two columns">
        <div class="menu btn" data-menu="4">
          <div class="icon"></div>
        </div>

        <div class="fullMenu">
          <nav class="blueNav">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/">Architecture</a>
              </li>
              <li>
                <a href="/">Interiors</a>
              </li>
              <li>
                <a href="/">Location</a>
              </li>
              <li>
                <a href="/">Team</a>
              </li>
              <li>
                <a href="/">Contact</a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
      <div class="four columns dead">
        &nbsp;
      </div>
      <div class="two columns">
        <a href="">Register Your Interest</a>
      </div>
      <div class="four columns">
        &nbsp;
      </div>
    </div><!-- end row -->

    <div class="row para">
      <div class="two columns">
        <nav class="nav">
          <ul>
            {% nav entry in craft.entries.section('navigation') %}
            <li>
              <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
            {% endnav %}
          </ul>
        </nav>
      </div>
      <div class="two columns">
        &nbsp;
      </div>
      <div class="seven columns blueLink">
        <h2>Sent</h2>
        </div>
      <div class="one columns">
        &nbsp;
      </div>
    </div><!-- end row -->

  </section>

  <section id="section1" class="section extView">
  </section>

  <section id="section2" class="section">
    <div class="row">
      <div class="two columns">
        &nbsp;
      </div>
      <div class="eight columns">
        <figure>
        <img src="/uploads/edition-parnell.jpg" width="100%">
        <figcaption>Explore Architecture</figcaption>
        </figure>
      </div>
      <div class="two columns">
        &nbsp;
      </div>
    </div>
  </section>

  <section id="section3" class="section">
    <div class="row">
      <div class="two columns">
        &nbsp;
      </div>
      <div class="eight columns">
        <figure>
        <img src="/uploads/edition-parnell.jpg" width="100%">
        <figcaption>Explore Interiors</figcaption>
        </figure>
      </div>
      <div class="two columns">
        &nbsp;
      </div>
    </div>
  </section>

  <section id="section4" class="whiteModule section last">
    <div class="row">
      <div class="two columns">
        <a href="/">Edition Parnell</a>
      </div>
      <div class="four columns dead">
        &nbsp;
      </div>
      <div class="two columns">
        <a href="/#register">Register Your Interest</a>
      </div>
      <div class="four columns">
        &nbsp;
      </div>
    </div><!-- end row -->

    <div class="row para">
      <div class="six columns">
        Contact
      </div>
      <div class="three columns">
        Show Suite:<br>
        <a href="https://www.google.co.nz/maps/place/16+Bradford+St,+Parnell,+Auckland+1052/data=!4m2!3m1!1s0x6d0d480f12575d2d:0x5f8f06b7e152606f?sa=X&ved=0ahUKEwjQyPPAl_7TAhUHwbwKHSAvBiMQ8gEIJTAA" target="_blank" rel="noopener noreferrer">16 Bradford Street<br>
        Parnell 1011, Auckland<br>
        New Zealand</a>
      </div>
      <div class="three columns">
        Phone <a href="tel:0800686868">0800 68 68 68</a><br>
        <a href="mailto:info@editionparnell.co.nz">info@editionparnell.co.nz</a><br>
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">Facebook</a>
      </div>
    </div><!-- end row -->

    <div class="row">
      <div class="twelve columns">
        <h4><a href="{{ siteUrl }}"><img src="/img/edition-black.svg" alt="Edition" title="Edition" width="195px"></a></h4>
      </div>
    </div>

  </section>
</div>
{% endblock %}
