/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.6 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2017, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight {
		display: none;

		/* dimensions: spanning the background from edge to edge */
		position:fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 2147483647; /* z-index needs to be >= elements on the site. */

		/* position: centering content */
		text-align: center;

		/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
		white-space: nowrap;

		/* styling */
		cursor: pointer;
		background: #333;
		/* IE8 "hack" for nested featherlights */
		background: rgba(0, 0, 0, 0);
	}

	/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
	.featherlight:last-of-type {
		background: rgba(235, 235, 234, 1);
	}

	.featherlight:before {
		/* position: trick to center content vertically */
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.featherlight .featherlight-content {
		text-align: left;
		vertical-align: middle;
		display: inline-block;
		padding: 0;
		border-bottom: none;
		margin-left: 5%;
		margin-right: 5%;
		height: 80%;
		overflow: hidden;
		background: none;
		cursor: auto;
		white-space: normal;
	}

	/* contains the content */
	.featherlight .featherlight-inner {
		/* make sure its visible */
		display: block;
	}

	/* don't show these though */
	.featherlight script.featherlight-inner,
	.featherlight link.featherlight-inner,
	.featherlight style.featherlight-inner {
		display: none;
	}

	.featherlight .featherlight-close-icon {
		position: absolute;
		z-index: 9999;
		font-size: 1.6rem;
		text-transform: capitalize;
		top: 3.6rem;
		right: 4.62rem;
		width: 11rem;
		font-weight: 400;
		cursor: pointer;
		text-align: center;
		color: $primary-color;
		border: none;
		border-radius: 0;
		padding: 0;
		background: rgb(235, 235, 234);
		&:before{
			content: 'Close';
			position: absolute;
			top: 0;
			right: 0;
			letter-spacing: 0.002em;
			font-size: 1.4rem;
		}
		&:hover{
			color: $blue;
		}
	}

	/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
	.featherlight .featherlight-close-icon::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	.featherlight .featherlight-image {
		height: 100% !important;
		margin: 0 auto;
	}


	.featherlight-iframe .featherlight-content {
		/* removed the border for image croping since iframe is edge to edge */
		border-bottom: 0;
		padding: 0;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
	}

	.featherlight iframe {
		/* styling */
		border: none;
	}

	.featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 750px) {
	.featherlight .featherlight-image {
		width: auto !important;
		height: auto !important;
		max-width: 90%;
		max-height: 80%;
	}
	.featherlight .featherlight-close-icon {
		top: 2rem;
		right: 2.3rem;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 0;
		margin-right: 0;
		max-height: 98%;

		padding: 10px 10px 0;
		border-bottom: 10px solid transparent;
		@media screen and (max-width: 750px) {
			height: auto;
		}
	}
}

@media screen and (min-width: 1400px) {
	.featherlight .featherlight-close-icon {
		right: 4.82rem;
	}
}

@media screen and (min-width: 1680px) {
	.featherlight .featherlight-close-icon {
		right: 5rem;
		width: 11rem;
	}
}
