/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.7.6 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2017, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight-next,
	.featherlight-previous {
		display: block;
		position: absolute;
		top: 25px;
		right: 25px;
		bottom: 0;
		left: 80%;
		cursor: pointer;
		/* preventing text selection */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		/* IE9 hack, otherwise navigation doesn't appear */
		background: rgba(0,0,0,0);
	}

	.featherlight-previous {
		left: 25px;
		right: 80%;
	}

	.featherlight-next span,
	.featherlight-previous span {
		display: block;
		position: absolute;

		top: 50%;
		width: 82%;
		font-size: 0;

		/* center vertically */
		margin-top: -28px;
		color: $primary-color;
		font-style: normal;
		font-weight: normal;
		&:before{
	        width: 2rem;
	        height: 2rem;
	        border-right: 2px solid $primary-color;
	        border-bottom: 2px solid $primary-color;
	        position: absolute;
	        right: 0;
	        content: " ";
	        transform: rotate(-45deg);
	        transition: all 0.2s ease-in-out;
	    }
		&:hover{
			&:before{
		        width: 2rem;
		        height: 2rem;
		        border-right: 2px solid $blue;
		        border-bottom: 2px solid $blue;
		        position: absolute;
		        right: 0;
		        content: " ";
		        transform: rotate(-45deg);
		        transition: all 0.2s ease-in-out;
		    }
		}
	}
	.featherlight-next span {
		right: 36%;
	}

	.featherlight-previous span{
		left: 36%;
		&:before{
			transform: rotate(135deg);
			left: 0;
		}
		&:hover{
			&:before{
				transform: rotate(135deg);
				left: 0;
			}
		}
	}

	.featherlight-swipe-aware .featherlight-next,
	.featherlight-swipe-aware .featherlight-previous {
		display: none;
	}

	/* Hide navigation while loading */
	.featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
		display:none;
	}

	/* Hide navigation in case of single image */
	.featherlight-first-slide.featherlight-last-slide .featherlight-previous,
	.featherlight-first-slide.featherlight-last-slide .featherlight-next {
		display:none;
	}
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px){
	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: none;
	}
	.featherlight-next span,
	.featherlight-previous span {
		display: block;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight-next,
	.featherlight-previous {
		top: 10px;
		right: 10px;
		left: 85%;
	}

	.featherlight-previous {
		left: 10px;
		right: 85%;
	}

	.featherlight-next span,
	.featherlight-previous span {
		margin-top: -30px;
		font-size: 0;
	}
	@media screen and (max-width: 750px) {
		.featherlight-previous{
			left: 19px;
			right: 0;
		}
		.featherlight-next{
			right: 19px;
			left: 0;
		}
		.featherlight-next span, .featherlight-previous span{
			bottom: 1rem;
			height: 4rem;
			top: initial;
			width: 10%;
			opacity: 0;
		}
	}
}
