// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

/*form label{
  color: $white;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 4.4rem 0 0.2rem;
}

form .chosen-container .chosen-results-scroll-up span, body .chosen-container-single .chosen-single div b{
  background-image:url("/img/arrow.png") !important;
  background-size: 24px 12px !important;
  background-position: 0 0;
}

form .chosen-container-active.chosen-with-drop .chosen-single div b{
  background-position: 0 0;
}

form .chosen-container-single .chosen-single div{
  top: 1.4rem;
  width: 24px;
  height: 14px;
}

.chosen-container-single .chosen-single span{
  color: $white;
}

form .chosen-container-single .chosen-default, form .chosen-container-active .chosen-single, .form .chosen-container-single .chosen-single{
  height: auto;
  padding: 10px 0;
  color: $white;
  background: $blue;
  border: none;
  border-bottom: 1px solid $white;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.5rem;
  line-height: normal;
}

form .chosen-container-active.chosen-with-drop .chosen-single{
  background: none;
  border: none;
  box-shadow: none;
}

form .chosen-container .chosen-drop{
  margin: 0;
  border-radius: 0;
  border: 1px solid $white;
  background: $blue;
  box-shadow: none;
}

form .chosen-container-single .chosen-search{
  display: none;
}

form .chosen-container .chosen-results{
  color: $white;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

form .chosen-container .chosen-results li{
  padding: 10px 6px;
  &.highlighted{
    background: $white;
    color: $blue;
  }
}*/

.heading label{
  display: none;
  opacity: 0;
  height: 0;
}

.notifications{
  color: $white;
  ul.errors{
    list-style: inh
  }
}

textarea,
select {
  height: auto;
  width: 100%;
  margin: 0;
  color: $white;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #5750bb;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    height: auto;
    margin: 0;
    padding: 10px 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #5750bb;
    width: 100%;
    color: $white;
  }
}

::-webkit-input-placeholder {
   color: $background;
}

:-moz-placeholder {
   color: $background;
}

::-moz-placeholder {
   color: $background;
}

:-ms-input-placeholder {
   color: $background;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    outline: 0;
  }
}

textarea:focus,
select:focus {
  border: none;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.space{
  height: 8.4rem;
}
