.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
    @media screen and (max-width: 750px) {
        float: none;
    }
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
    @media screen and (max-width: 750px) {
        table-layout: inherit;
        display: block;
    }
}
.fp-tableCell {
    /*@media (#{$bp-larger-than-mobile}) {
        height: auto !important;
    }*/
    /*display: table-cell;*/
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 16px;
    height: 0;
    border: none;
    margin-top: 0;
}
.fp-controlArrow.fp-prev {
    left: 0;
    margin-left: 14rem;
    @media screen and (max-width: 750px) {
        display: none;
    }
    &:before{
        width: 2rem;
        height: 2rem;
        border-right: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        position: absolute;
        left: 0;
        content: " ";
        transform: rotate(135deg);
        transition: all 0.2s ease-in-out;
    }
    &:hover{
        &:before{
            width: 2rem;
            height: 2rem;
            border-right: 2px solid $blue;
            border-bottom: 2px solid $blue;
            position: absolute;
            left: 0;
            content: " ";
            transform: rotate(135deg);
            transition: all 0.2s ease-in-out;
        }
    }
}
.fp-controlArrow.fp-next {
    right: 0;
    margin-right: 14rem;
    @media screen and (max-width: 750px) {
        display: none;
    }
    &:before{
        width: 2rem;
        height: 2rem;
        border-right: 2px solid $primary-color;
        border-bottom: 2px solid $primary-color;
        position: absolute;
        right: 0;
        content: " ";
        transform: rotate(-45deg);
        transition: all 0.2s ease-in-out;
    }
    &:hover{
        &:before{
            width: 2rem;
            height: 2rem;
            border-right: 2px solid $blue;
            border-bottom: 2px solid $blue;
            position: absolute;
            right: 0;
            content: " ";
            transform: rotate(-45deg);
            transition: all 0.2s ease-in-out;
        }
    }
}
