// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

.floor.plans-page{
    table.floorPlans{
        thead{
            font-weight: normal;
            color: $primary-color;
        }
    }
}

th {
  padding: 0.4rem 2rem 0.2rem;
  text-align: left;
  border-bottom: 1px solid $table-grey;
  color: $primary-color;
  font-weight: normal;
}

td {
  padding: 0.4rem 2rem 0.2rem;
  text-align: left;
  border-bottom: 1px solid $table-grey;
  color: $table-grey;
  font-weight: normal;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
