{% extends "_layout" %}

{% block content %}

<div id="fullpage" class="container">

    <section id="section0" class="whiteModule section">

        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                <ul>
                    <li>
                        <a href="/#two">Home</a>
                    </li>
                    <li class="blueLink">
                        <a href="/architecture">Architecture</a>
                    </li>
                    <li>
                        <a href="/interiors">Interiors</a>
                    </li>
                    <li>
                        <a href="/location">Location</a>
                    </li>
                    <li>
                        <a href="/the-team/monk-mackenzie">The Team</a>
                    </li>
                    <li>
                        <a href="/floor-plans">Floor Plans</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                </nav>
            </div>

            <div class="four columns">
                &nbsp;
            </div>

            <div class="six columns threeP">
                <h2>In creating Edition, architectural studio Monk Mackenzie imagined a bold, contemporary building that confidently occupies the sloping site. The upper three levels are cantilevered above the ground, creating a beautiful profile with a sophisticated shape that enables view shafts from the street through to the harbour beyond. Edition’s façade is encased in Italian-made glass bricks.</h2>
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="twelve columns">
                <h4>Architecture</h4>
            </div>

        </div><!-- end row -->
    </section>

    <section id="section1" class="section">
        <div class="fullView arcView aos-item" data-aos="fade" data-aos-easing="ease-in-quad">
        </div>
    </section>

    <section id="section2" class="section">
        <div class="slide hide-lg">
            <div class="fullBorder">
                <div class="row fullCenter">

                <div class="two columns">
                    &nbsp;
                </div>

                <div class="eight columns">
                    <figure>
                        <a href="/uploads/architecture-hero.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/architecture-hero.jpg" width="100%">
                            <div class="overColour"></div>
                            </div>
                        <figcaption></figcaption>
                        </a>
                    </figure>
                </div>

                <div class="two columns">
                    &nbsp;
                </div>
            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
                <div class="row fullCenter">

                <div class="two columns">
                    &nbsp;
                </div>

                <div class="eight columns">
                    <figure>
                        <a href="/uploads/architecture-slide.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/architecture-slide.jpg" width="100%">
                            <div class="overColour"></div>
                            </div>
                        <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Reflection Pool at Edition’s Entrance</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="two columns">
                    &nbsp;
                </div>
            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
                <div class="row fullCenter">

                <div class="two columns">
                    &nbsp;
                </div>

                <div class="eight columns">
                    <figure>
                        <a href="/uploads/edition-parnell-home-hero.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/edition-parnell-home-hero.jpg" width="100%">
                            <div class="overColour"></div>
                            </div>
                        <figcaption>Italian-made Glass Brick Façade</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="two columns">
                    &nbsp;
                </div>
                </div><!-- end row -->
            </div>
        </div>
    </section>

    <section id="section3" class="section">
        <div class="fullBorder">
        <div class="row fullCenter">

        <div class="two columns">
            &nbsp;
        </div>

        <div class="four columns">
            <figure class="double">
                <a href="/uploads/architecture-double-one.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/architecture-double-one.jpg" width="100%">
                    <div class="overColour"></div>
                    </div>
                <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Italian-made Glass Brick Façade</figcaption>
                </a>
            </figure>
        </div>

        <div class="four columns">
            <figure class="double">
                <a href="/uploads/architecture-double-two.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" data-aos-delay="400" src="/uploads/architecture-double-two.jpg" width="100%">
                    <div class="overColour"></div>
                    </div>
                <figcaption class="wow fadeInDown" data-wow-delay="1s">View of Hauraki Gulf</figcaption>
                </a>
            </figure>
        </div>


        <div class="two columns">
            &nbsp;
        </div>

        </div><!-- end row -->
        </div>
    </section>

{% endblock %}
