{% extends "_layout" %}

{% block content %}

<div id="fullpage" class="container">

    <section id="section0" class="blackModule section">

        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                <ul>
                    <li>
                        <a href="/#two">Home</a>
                    </li>
                    <li>
                        <a href="/architecture">Architecture</a>
                    </li>
                    <li>
                        <a href="/interiors">Interiors</a>
                    </li>
                    <li>
                        <a href="/location">Location</a>
                    </li>
                    <li class="blueLink">
                        <a href="/the-team/monk-mackenzie">The Team</a>
                    </li>
                    <li>
                        <a href="/floor-plans">Floor Plans</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                </nav>
            </div>

            <div class="one columns">
                &nbsp;
            </div>

            <div class="three columns">
                <nav class="nav">
                    <ul>
                        <li>
                            The Team
                        </li>
                        <li>
                            <br>
                        </li>
                        <li>
                            <a href="/the-team/monk-mackenzie">Monk Mackenzie</a>
                        </li>
                        <li class="blueLink">
                            <a href="/the-team/bureaux">Bureaux</a>
                        </li>
                        <li>
                            <a href="/the-team/lep-group">LEP Group</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="six columns threeP teamTitle">
                <h2>Bureaux was established in 2010 by founders Jessica Barter and Maggie Carroll. As registered architects, they bring an inherent awareness of the way architecture informs a space to the interiors they create. Their work ranges across residential, cultural, retail and hospitality projects; the common thread is beautifully designed, bespoke spaces that perfectly anticipate their occupants’ needs and desires.</h2>
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="twelve columns">
                <h4>Bureaux</h4>
            </div>

        </div><!-- end row -->
    </section>

    <section id="section1" class="section burView">
        <div class="fullView burView aos-item" data-aos="fade" data-aos-easing="ease-in-quad">
        </div>
    </section>

    <section id="section2" class="section">
        <div class="slide hide-lg">
            <div class="fullBorder">
                <div class="row fullCenter">

                <div class="two columns">
                    &nbsp;
                </div>

                <div class="eight columns">
                    <figure>
                        <a href="/uploads/bureaux-hero.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/bureaux-hero.jpg" width="100%">
                            <div class="overColour"></div>
                            </div>
                        <figcaption></figcaption>
                        </a>
                    </figure>
                </div>

                <div class="two columns">
                    &nbsp;
                </div>
            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/bureaux-slide-one.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/bureaux-slide-one.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Private Office</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/bureaux-slide-two.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/bureaux-slide-two.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Black Cottage, Lake Hayes</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
    </section>

    <section id="section3" class="section">
        <div class="fullBorder">
        <div class="row fullCenter doubleSplit">

        <div class="two columns">
            &nbsp;
        </div>

        <div class="four columns">
            <figure class="double">
                <a href="/uploads/bureaux-one.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/bureaux-one.jpg" width="100%">
                    <div class="overColour"></div>
                    </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Future Islands Exhibition in Venice</figcaption>
                </a>
            </figure>
        </div>

        <div class="three columns">
            &nbsp;
        </div>

        <div class="three columns">
            <nav class="nav hide-sm">
                <ul>
                    <li>
                        The Team
                    </li>
                    <li>
                        <br>
                    </li>
                    <li>
                        <a href="/the-team/monk-mackenzie">Monk Mackenzie</a>
                    </li>
                    <li class="blueLink">
                        <a href="/the-team/bureaux">Bureaux</a>
                    </li>
                    <li>
                        <a href="/the-team/lep-group">LEP Group</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="three columns absImg">
            <figure class="double">
                <img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" data-aos-delay="400" src="/uploads/bureaux-jessica.jpg" width="100%">
                    <figcaption class="wow fadeInDown" data-wow-delay="1s">Jessica Barter</figcaption>
            </figure>
        </div>


        <div class="three columns">
            <nav class="nav hide-lg">
                <ul>
                    <li>
                        The Team
                    </li>
                    <li>
                        <br>
                    </li>
                    <li>
                        <a href="/the-team/monk-mackenzie">Monk Mackenzie</a>
                    </li>
                    <li class="blueLink">
                        <a href="/the-team/bureaux">Bureaux</a>
                    </li>
                    <li>
                        <a href="/the-team/lep-group">LEP Group</a>
                    </li>
                </ul>
            </nav>
        </div>

        </div><!-- end row -->
        </div>
    </section>

{% endblock %}
