{% extends "_layout" %}

{% block content %}

<div id="fullpage" class="container">

    <section id="section0" class="whiteModule section">

        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="/#two">Home</a>
                        </li>
                        <li>
                            <a href="/architecture">Architecture</a>
                        </li>
                        <li>
                            <a href="/interiors">Interiors</a>
                        </li>
                        <li>
                            <a href="/location">Location</a>
                        </li>
                        <li>
                            <a href="/the-team/monk-mackenzie">The Team</a>
                        </li>
                        <li>
                            <a href="/floor-plans">Floor Plans</a>
                        </li>
                        <li>
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li class="blueLink">
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="four columns">
                &nbsp;
            </div>

            <div class="six columns threeP">
                <h2>Show Suite<br>
                <a href="https://www.google.co.nz/maps/place/8+Earle+St,+Parnell,+Auckland+1052/data=!4m2!3m1!1s0x6d0d480f437ba213:0x8932591b2546c2a7?sa=X&ved=0ahUKEwiAs8zeq7XUAhVEbbwKHXCaC4wQ8gEIJjAA" target="_blank" rel="noopener noreferrer">8 Earle Street</a><br>
                Parnell<br>
                Auckland 1052<br>
                New Zealand</h2>

                <h2>For show suite viewings<br> <span class="register slideOpen">register your interest</span>. Email<br> <a href="mailto:jason.gaddes@nzsir.com">jason.gaddes@nzsir.com</a></h2>

                <h2>An LEP Group project<!--<br><a href="http://lepgroup.co.nz" target="_blank" rel="noopener noreferrer">www.lepgroup.co.nz</a>--></h2>
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="twelve columns">
                <h4>Contact</h4>
            </div>

        </div><!-- end row -->
    </section>

{% endblock %}
