{% extends "_layout" %}

{% block content %}

<div id="fullpage" class="container">

    <section id="section0" class="whiteModule section">

        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="/#two">Home</a>
                        </li>
                        <li>
                            <a href="/architecture">Architecture</a>
                        </li>
                        <li>
                            <a href="/interiors">Interiors</a>
                        </li>
                        <li>
                            <a href="/location">Location</a>
                        </li>
                        <li>
                            <a href="/the-team/monk-mackenzie">The Team</a>
                        </li>
                        <li class="blueLink">
                            <a href="/floor-plans">Floor Plans</a>
                        </li>
                        <li>
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="four columns">
                &nbsp;
            </div>

            <div class="six columns threeP accordionWrap">

                <div class="hide-lg">
                    <p>Download Floorplans</p>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_1A.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 1
                            </div>
                            <div class="mob-floor-column arw">
                                Unit A
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_1B.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 1
                            </div>
                            <div class="mob-floor-column arw">
                                Unit B
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_1C.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 1
                            </div>
                            <div class="mob-floor-column arw">
                                Unit C
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_2A.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 2
                            </div>
                            <div class="mob-floor-column arw">
                                Unit A
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_2B.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 2
                            </div>
                            <div class="mob-floor-column arw">
                                Unit B
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_2C.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 2
                            </div>
                            <div class="mob-floor-column arw">
                                Unit C
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_3A.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 3
                            </div>
                            <div class="mob-floor-column arw">
                                Unit A
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_3B.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 3
                            </div>
                            <div class="mob-floor-column arw">
                                Unit B
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_4A.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 4
                            </div>
                            <div class="mob-floor-column arw">
                                Unit A
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_4B.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 4
                            </div>
                            <div class="mob-floor-column arw">
                                Unit B
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_4C.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 4
                            </div>
                            <div class="mob-floor-column arw">
                                Unit C
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_4D.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 4
                            </div>
                            <div class="mob-floor-column arw">
                                Unit D
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_4E.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 4
                            </div>
                            <div class="mob-floor-column arw">
                                Unit E
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_5A.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 5
                            </div>
                            <div class="mob-floor-column arw">
                                Unit A
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_5B.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 5
                            </div>
                            <div class="mob-floor-column arw">
                                Unit B
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_5C.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 5
                            </div>
                            <div class="mob-floor-column arw">
                                Unit C
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_6A.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 6
                            </div>
                            <div class="mob-floor-column arw">
                                Unit A
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_6B.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 6
                            </div>
                            <div class="mob-floor-column arw">
                                Unit B
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="/pdf/Edition_Unit_6C.pdf" target="_blank" rel="noopener noreferrer">
                            <div class="mob-floor-column">
                                Level 6
                            </div>
                            <div class="mob-floor-column arw">
                                Unit C
                            </div>
                        </a>
                    </div>
                </div>

                <div data-accordion-group class="hide-sm">
                    <div class="row accordionHead">
                        <div class="floor-column one">
                            Level
                        </div>
                        <div class="floor-column two">
                            Bedrooms
                        </div>
                        <div class="floor-column three">
                            Bathrooms
                        </div>
                        <div class="floor-column four">
                            Area (m2)
                        </div>
                        <div class="floor-column five">
                            Spec Sheet
                        </div>
                    </div>
                    <div class="accordion" data-accordion>
                        <div data-control>One</div>
                        <div data-content>
                            <div class="row">
                                <a href="/pdf/Edition_Unit_1A.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit A
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        264
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_1B.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit B
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        121
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_1C.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit C
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        225
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                        </div><!-- End content -->
                    </div><!-- End Data Accordion -->
                    <div class="accordion" data-accordion>
                        <div data-control>Two</div>
                        <div data-content>
                            <div class="row">
                                <a href="/pdf/Edition_Unit_2A.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit A
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        152
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_2B.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit B
                                    </div>
                                    <div class="floor-column two">
                                        1
                                    </div>
                                    <div class="floor-column three">
                                        1
                                    </div>
                                    <div class="floor-column four">
                                        81
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_2C.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit C
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        142
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                        </div><!-- End content -->
                    </div><!-- End Data Accordion -->
                    <div class="accordion" data-accordion>
                        <div data-control>Three</div>
                        <div data-content>
                            <div class="row">
                                <a href="/pdf/Edition_Unit_3A.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit A
                                    </div>
                                    <div class="floor-column two">
                                        3
                                    </div>
                                    <div class="floor-column three">
                                        3
                                    </div>
                                    <div class="floor-column four">
                                        241
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_3B.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit B
                                    </div>
                                    <div class="floor-column two">
                                        3
                                    </div>
                                    <div class="floor-column three">
                                        3
                                    </div>
                                    <div class="floor-column four">
                                        224
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                        </div><!-- End content -->
                    </div><!-- End Data Accordion -->
                    <div class="accordion" data-accordion>
                        <div data-control>Four</div>
                        <div data-content>
                            <div class="row">
                                <a href="/pdf/Edition_Unit_4A.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit A
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        143
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_4B.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit B
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        162
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_4C.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit C
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        143
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_4D.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit D
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        95
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_4E.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit E
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        94
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                        </div><!-- End content -->
                    </div><!-- End Data Accordion -->
                    <div class="accordion" data-accordion>
                        <div data-control>Five</div>
                        <div data-content>
                            <div class="row">
                                <a href="/pdf/Edition_Unit_5A.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit A
                                    </div>
                                    <div class="floor-column two">
                                        3
                                    </div>
                                    <div class="floor-column three">
                                        3
                                    </div>
                                    <div class="floor-column four">
                                        247
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_5B.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit B
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        164
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_5C.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit C
                                    </div>
                                    <div class="floor-column two">
                                        3
                                    </div>
                                    <div class="floor-column three">
                                        3
                                    </div>
                                    <div class="floor-column four">
                                        247
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                        </div><!-- End content -->
                    </div><!-- End Data Accordion -->
                    <div class="accordion" data-accordion>
                        <div data-control>Six</div>
                        <div data-content>
                            <div class="row">
                                <a href="/pdf/Edition_Unit_6A.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit A
                                    </div>
                                    <div class="floor-column two">
                                        3
                                    </div>
                                    <div class="floor-column three">
                                        3
                                    </div>
                                    <div class="floor-column four">
                                        247
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_6B.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit B
                                    </div>
                                    <div class="floor-column two">
                                        2
                                    </div>
                                    <div class="floor-column three">
                                        2
                                    </div>
                                    <div class="floor-column four">
                                        162
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                            <div class="row">
                                <a href="/pdf/Edition_Unit_6C.pdf" target="_blank" rel="noopener noreferrer">
                                    <div class="floor-column one">
                                        Unit C
                                    </div>
                                    <div class="floor-column two">
                                        3
                                    </div>
                                    <div class="floor-column three">
                                        3
                                    </div>
                                    <div class="floor-column four">
                                        247
                                    </div>
                                    <div class="floor-column five">
                                        Download
                                    </div>
                                </a>
                            </div><!-- End Row -->
                        </div><!-- End content -->
                    </div><!-- End Data Accordion -->
                </div><!-- End Accordion -->
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="row placeholderBox">
                <div class="columns six">
                    <h4>Floor Plans</h4>
                </div>
            </div>
            <!--<div id="aucklandDomain" class="row locationBox">
                <div class="columns six">
                    <h4>1km</h4>
                </div>
                <div class="columns six">
                    <h4>SW</h4>
                </div>
            </div>--><!-- End row -->

        </div><!-- end row -->
    </section>

{% endblock %}
