{% extends "_layout" %}

{% block content %}

<div id="fullpage" class="container">

    <section id="section0" class="whiteModule section">

        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="/#two">Home</a>
                        </li>
                        <li>
                            <a href="/architecture">Architecture</a>
                        </li>
                        <li>
                            <a href="/interiors">Interiors</a>
                        </li>
                        <li>
                            <a href="/location">Location</a>
                        </li>
                        <li>
                            <a href="/the-team/monk-mackenzie">The Team</a>
                        </li>
                        <li>
                            <a href="/floor-plans">Floor Plans</a>
                        </li>
                        <li class="blueLink">
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="four columns">
                &nbsp;
            </div>

            <div class="six columns threeP gall">
                <ul class="galleryGrid">
                    <li><a href="/uploads/edition-parnell-home-hero.jpg" id="#exterior" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-one.jpg" width="100%"><div class="overColour"></div></div></a></li><li>
                        <a href="/uploads/architecture-hero.jpg" id="#views" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-two.jpg" width="100%"><div class="overColour"></div></div></a></li><li>
                        <a href="/uploads/architecture-double-one.jpg" id="#facade" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-three.jpg" width="100%"><div class="overColour"></div></div></a></li><li>
                        <a href="/uploads/architecture-slide.jpg" id="#reflectionPool" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-four.jpg" width="100%"><div class="overColour"></div></div></a></li><li>
                        <a href="/uploads/interiors-hero.jpg" id="#living" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-five.jpg" width="100%"><div class="overColour"></div></div></a></li><li>
                        <a href="/uploads/interiors-one.jpg" id="#bathroom" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-six.jpg" width="100%"><div class="overColour"></div></div></a></li><li>
                        <a href="/uploads/interiors-slide-one.jpg" id="#bedroom" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-seven.jpg" width="100%"><div class="overColour"></div></div></a></li><li>
                        <a href="/uploads/explore-interiors.jpg" id="#penthouseLiving" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-eight.jpg" width="100%"><div class="overColour"></div></div></a></li><li>
                        <a href="/uploads/interiors-two.jpg" id="#courtyard" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-nine.jpg" width="100%"><div class="overColour"></div></div></a></li><li>
                        <a href="/uploads/interiors-slide-two.jpg" id="#kitchen" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/gallery-thumb-ten.jpg" width="100%"><div class="overColour"></div></div></a></li>
                </ul>
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="twelve galleryholderBox">
                <h4>Gallery</h4>
            </div>
            <div id="exterior" class="twelve galleryBoxHold">
                <h4>Exterior</h4>
            </div>
            <div id="views" class="twelve galleryBoxHold">
                <h4>Views</h4>
            </div>
            <div id="facade" class="twelve galleryBoxHold">
                <h4>Façade</h4>
            </div>
            <div id="reflectionPool" class="twelve galleryBoxHold">
                <h4>Reflection Pool</h4>
            </div>
            <div id="living" class="twelve galleryBoxHold">
                <h4>Living</h4>
            </div>
            <div id="bathroom" class="twelve galleryBoxHold">
                <h4>Bathroom</h4>
            </div>
            <div id="bedroom" class="twelve galleryBoxHold">
                <h4>Bedroom</h4>
            </div>
            <div id="penthouseLiving" class="twelve galleryBoxHold">
                <h4>Penthouse Living</h4>
            </div>
            <div id="courtyard" class="twelve galleryBoxHold">
                <h4>Courtyard</h4>
            </div>
            <div id="kitchen" class="twelve galleryBoxHold">
                <h4>Kitchen</h4>
            </div>

        </div><!-- end row -->
    </section>

{% endblock %}
