{% extends "_layout" %}

{% block content %}

<div id="fullpage" class="container">

    <section id="section0" class="whiteModule section">

        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                <ul>
                    <li>
                        <a href="/#two">Home</a>
                    </li>
                    <li>
                        <a href="/architecture">Architecture</a>
                    </li>
                    <li class="blueLink">
                        <a href="/interiors">Interiors</a>
                    </li>
                    <li>
                        <a href="/location">Location</a>
                    </li>
                    <li>
                        <a href="/the-team/monk-mackenzie">The Team</a>
                    </li>
                    <li>
                        <a href="/floor-plans">Floor Plans</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                </nav>
            </div>

            <div class="four columns">
                &nbsp;
            </div>

            <div class="six columns blueLink threeP">
                <h2>The interiors of Edition are a response and a complement to the bold architecture of the building. Each living space has been designed to optimise sunlight year-round. Floor-to-ceiling windows emphasise the high stud and allow natural light to flood in, while every apartment has a space that connects to the outdoors; some have two or more.</h2>
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="twelve columns">
                <h4>Interiors</h4>
            </div>

        </div><!-- end row -->
    </section>

    <section id="section1" class="section intView">
        <div class="fullView intView aos-item" data-aos="fade" data-aos-easing="ease-in-quad">
        </div>
    </section>

    <section id="section2" class="section">
        <div class="slide hide-lg">
            <div class="fullBorder">
                <div class="row fullCenter">

                <div class="two columns">
                    &nbsp;
                </div>

                <div class="eight columns">
                    <figure>
                        <a href="/uploads/interiors-hero.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/interiors-hero.jpg" width="100%">
                            <div class="overColour"></div>
                            </div>
                        <figcaption></figcaption>
                        </a>
                    </figure>
                </div>

                <div class="two columns">
                    &nbsp;
                </div>
            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/interiors-slide-one.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/interiors-slide-one.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Bedroom</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/interiors-slide-two.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/interiors-slide-two.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption>Kitchen</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/explore-interiors.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/explore-interiors.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption>Penthouse Living Room</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
    </section>

    <section id="section3" class="section">
        <div class="fullBorder">
        <div class="row fullCenter">

        <div class="two columns">
            &nbsp;
        </div>

        <div class="four columns">
            <figure class="double">
                <a href="/uploads/interiors-one.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/interiors-one.jpg" width="100%">
                    <div class="overColour"></div>
                    </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Bathroom</figcaption>
                </a>
            </figure>
        </div>

        <div class="four columns">
            <figure class="double">
                <a href="/uploads/interiors-three.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" data-aos-delay="400" src="/uploads/interiors-three.jpg" width="100%">
                    <div class="overColour"></div>
                    </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="1s">Level 1 Living Room</figcaption>
                </a>
            </figure>
        </div>


        <div class="two columns">
            &nbsp;
        </div>

        </div><!-- end row -->
        </div>
    </section>

    <section id="section4" class="section">
        <div class="fullBorder">
            <figure class="fullCenter">
                <a href="/uploads/interiors-two.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/interiors-two.jpg" width="100%">
                    <div class="overColour"></div>
                    </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Courtyard</figcaption>
                </a>
            </figure>
        </div>
    </section>

{% endblock %}
