{% extends "_layout" %}

{% block content %}

<div id="fullpage" class="container">

    <section id="section0" class="whiteModule section">

        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                    <ul>
                        <li>
                            <a href="/#two">Home</a>
                        </li>
                        <li>
                            <a href="/architecture">Architecture</a>
                        </li>
                        <li>
                            <a href="/interiors">Interiors</a>
                        </li>
                        <li>
                            <a href="/location">Location</a>
                        </li>
                        <li class="blueLink">
                            <a href="/the-team/monk-mackenzie">The Team</a>
                        </li>
                        <li>
                            <a href="/floor-plans">Floor Plans</a>
                        </li>
                        <li>
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="one columns">
                &nbsp;
            </div>

            <div class="three columns">
                <nav class="nav">
                    <ul>
                        <li>
                            The Team
                        </li>
                        <li>
                            <br>
                        </li>
                        <li>
                            <a href="/the-team/monk-mackenzie">Monk Mackenzie</a>
                        </li>
                        <li>
                            <a href="/the-team/bureaux">Bureaux</a>
                        </li>
                        <li class="blueLink">
                            <a href="/the-team/lep-group">LEP Group</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="six columns threeP teamTitle">
                <h2>LEP Group operates a development and construction business, making it ideally positioned to execute large projects from concept to completion. The company has previously worked on office, public and retail developments, and had been looking for an apartment project for a while; it was just a matter of finding the right site. “We knew we wanted to create a small number of beautifully designed residences in Parnell, and we searched high and low for the perfect location,” says Russell Thompson.</h2>
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="twelve columns">
                <h4>LEP Group</h4>
            </div>

        </div><!-- end row -->
    </section>

    <section id="section2" class="section">
        <div class="fullBorder">
        <div class="row fullCenter">

        <div class="two columns">
            &nbsp;
        </div>

        <div class="four columns">
            <figure class="double">
                <img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/lep-russell.jpg" width="100%">
                <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Russell Thompson</figcaption>
            </figure>
        </div>

        <div class="four columns">
            <figure class="double">
                <img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" data-aos-delay="400" src="/uploads/lep-mark.jpg" width="100%">
                <figcaption class="wow fadeInDown" data-wow-delay="1s">Mark Finlay</figcaption>
            </figure>
        </div>

        <div class="three columns">
            <nav class="nav hide-lg">
                <ul>
                    <li>
                        The Team
                    </li>
                    <li>
                        <br>
                    </li>
                    <li>
                        <a href="/the-team/monk-mackenzie">Monk Mackenzie</a>
                    </li>
                    <li>
                        <a href="/the-team/bureaux">Bureaux</a>
                    </li>
                    <li class="blueLink">
                        <a href="/the-team/lep-group">LEP Group</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="two columns">
            &nbsp;
        </div>

        </div><!-- end row -->
        </div>
    </section>

{% endblock %}
