{% extends "_layout" %}

{% block content %}

<div id="fullpage" class="container">

    <section id="section0" class="whiteModule section">

        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                <ul>
                    <li>
                        <a href="/#two">Home</a>
                    </li>
                    <li>
                        <a href="/architecture">Architecture</a>
                    </li>
                    <li>
                        <a href="/interiors">Interiors</a>
                    </li>
                    <li class="blueLink">
                        <a href="/location">Location</a>
                    </li>
                    <li>
                        <a href="/the-team/monk-mackenzie">The Team</a>
                    </li>
                    <li>
                        <a href="/floor-plans">Floor Plans</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                </nav>
            </div>

            <div class="four columns">
                &nbsp;
            </div>

            <div class="six columns blueLink threeP">
                <h2>At home, you’ll see the best of the city; the upper levels each have a vista of sky and water, with views over Judges Bay and the Hauraki Gulf to the north and east. Parnell is Auckland’s design precinct, home to high-end furniture showrooms, architecture studios and art galleries. Set just five minutes’ drive from the city, the suburb’s also well served by bus and train routes, the latter thanks to the newly opened Parnell train station.</h2>
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="twelve columns">
                <h4>Location</h4>
            </div>

        </div><!-- end row -->
    </section>

    <section id="section1" class="section">
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/location-slide-one.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/location-slide-one.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Fraser Park</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/location-slide-two.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/location-slide-two.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption>Judges Bay Reserve</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/location-slide-three.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/location-slide-three.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption>Woodpecker Hill</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/location-slide-four.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/location-slide-four.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption>Centuries-old Trees at Auckland Domain</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/location-slide-five.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/location-slide-five.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption>View of Auckland CBD from Fraser Park</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/location-slide-six.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/location-slide-six.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption>View of Judges Bay</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
    </section>

    <section id="section2" class="section blackModule">
        <div class="row para">
            <div class="columns six">
                &nbsp;
            </div>
            <div class="columns six hide-lg">
                <ul class="localList">
                    <li><h5>Auckland Domain (1km SW)</h5></li>
                    <li><h5>Auckland Museum (1.8km S)</h5></li>
                    <li><h5>Fraser Park (300m W)</h5></li>
                    <li><h5>Judges Bay (1km NE)</h5></li>
                    <li><h5>La Cigal Market (500m SE)</h5></li>
                    <li><h5>Next Gen Gym (1.2km W)</h5></li>
                    <li><h5>Non Solo Pizza (700m S)</h5></li>
                    <li><h5>Parnell Rise (300m W)</h5></li>
                    <li><h5>Parnell Village (1km S)</h5></li>
                    <li><h5>Pineapple Bar (600m S)</h5></li>
                    <li><h5>Rosie Café (700m E)</h5></li>
                    <li><h5>The Strand (650m N)</h5></li>
                    <li><h5>Tennis Arena (1.2km W)</h5></li>
                    <li><h5>Woodpecker Hill (550m S)</h5></li>
                </ul>
            </div>
            <div class="columns three threeP hide-sm">
                <ul class="localList">
                    <li class="nesw "><h5><span id="#aucklandDomain" class="local">Auckland Domain</span></h5></li>
                    <li class="nesw "><h5><span id="#aucklandMuseum" class="local">Auckland Museum</span></h5></li>
                    <li class="nesw "><h5><span id="#fraserPark" class="local">Fraser Park</span></h5></li>
                    <li class="nesw "><h5><span id="#judgesBay" class="local">Judges Bay</span></h5></li>
                    <li class="nesw "><h5><span id="#laCigaleMarket" class="local">La Cigal Market</span></h5></li>
                    <li class="nesw "><h5><span id="#nextGenGym" class="local">Next Gen Gym</span></h5></li>
                    <li class="nesw "><h5><span id="#nonSoloPizza" class="local">Non Solo Pizza</span></h5></li>
                </ul>
            </div>
            <div class="columns three threeP hide-sm">
                <ul class="localList">
                    <li class="nesw "><h5><span id="#parnellRise" class="local">Parnell Rise</span></h5></li>
                    <li class="nesw "><h5><span id="#parnellVillage" class="local">Parnell Village</span></h5></li>
                    <li class="nesw "><h5><span id="#pineappleBar" class="local">Pineapple Bar</span></h5></li>
                    <li class="nesw "><h5><span id="#rosieCafe" class="local">Rosie Café</span></h5></li>
                    <li class="nesw "><h5><span id="#theStrand" class="local">The Strand</span></h5></li>
                    <li class="nesw "><h5><span id="#tennisArena" class="local">Tennis Arena</span></h5></li>
                    <li class="nesw "><h5><span id="#woodpeckerHill" class="local">Woodpecker Hill</span></h5></li>
                </ul>
            </div>
        </div>
        <div class="row botTitle">
            <div class="columns six hide-sm">
                <div class="row placeholderBox">
                    <div class="columns six">
                        <h4>Attractions</h4>
                    </div>
                </div>
                <div id="aucklandDomain" class="row locationBox">
                    <div class="columns six">
                        <h4>1km</h4>
                    </div>
                    <div class="columns six">
                        <h4>SW</h4>
                    </div>
                </div><!-- End row -->
                <div id="aucklandMuseum" class="row locationBox">
                    <div class="columns six">
                        <h4>1.8km</h4>
                    </div>
                    <div class="columns six">
                        <h4>S</h4>
                    </div>
                </div><!-- End row -->
                <div id="fraserPark" class="row locationBox">
                    <div class="columns six">
                        <h4>300m</h4>
                    </div>
                    <div class="columns six">
                        <h4>W</h4>
                    </div>
                </div><!-- End row -->
                <div id="judgesBay" class="row locationBox">
                    <div class="columns six">
                        <h4>1km</h4>
                    </div>
                    <div class="columns six">
                        <h4>NE</h4>
                    </div>
                </div><!-- End row -->
                <div id="laCigaleMarket" class="row locationBox">
                    <div class="columns six">
                        <h4>500m</h4>
                    </div>
                    <div class="columns six">
                        <h4>SE</h4>
                    </div>
                </div><!-- End row -->
                <div id="nextGenGym" class="row locationBox">
                    <div class="columns six">
                        <h4>1.2km</h4>
                    </div>
                    <div class="columns six">
                        <h4>W</h4>
                    </div>
                </div><!-- End row -->
                <div id="nextGenGym" class="row locationBox">
                    <div class="columns six">
                        <h4>1.2km</h4>
                    </div>
                    <div class="columns six">
                        <h4>W</h4>
                    </div>
                </div><!-- End row -->
                <div id="nonSoloPizza" class="row locationBox">
                    <div class="columns six">
                        <h4>700m</h4>
                    </div>
                    <div class="columns six">
                        <h4>S</h4>
                    </div>
                </div><!-- End row -->
                <div id="parnellRise" class="row locationBox">
                    <div class="columns six">
                        <h4>300m</h4>
                    </div>
                    <div class="columns six">
                        <h4>W</h4>
                    </div>
                </div><!-- End row -->
                <div id="parnellVillage" class="row locationBox">
                    <div class="columns six">
                        <h4>1km</h4>
                    </div>
                    <div class="columns six">
                        <h4>S</h4>
                    </div>
                </div><!-- End row -->
                <div id="pineappleBar" class="row locationBox">
                    <div class="columns six">
                        <h4>600m</h4>
                    </div>
                    <div class="columns six">
                        <h4>S</h4>
                    </div>
                </div><!-- End row -->
                <div id="rosieCafe" class="row locationBox">
                    <div class="columns six">
                        <h4>700m</h4>
                    </div>
                    <div class="columns six">
                        <h4>E</h4>
                    </div>
                </div><!-- End row -->
                <div id="theStrand" class="row locationBox">
                    <div class="columns six">
                        <h4>650m</h4>
                    </div>
                    <div class="columns six">
                        <h4>N</h4>
                    </div>
                </div><!-- End row -->
                <div id="tennisArena" class="row locationBox">
                    <div class="columns six">
                        <h4>1.2km</h4>
                    </div>
                    <div class="columns six">
                        <h4>W</h4>
                    </div>
                </div><!-- End row -->
                <div id="woodpeckerHill" class="row locationBox">
                    <div class="columns six">
                        <h4>550m</h4>
                    </div>
                    <div class="columns six">
                        <h4>S</h4>
                    </div>
                </div><!-- End row -->
            </div>
    </section>

    <section id="section3" class="section">
        <div class="fullBorder">
        <div class="row fullCenter doubleSplit">

        <div class="two columns">
            &nbsp;
        </div>

        <div class="four columns">
            <figure class="double">
                <a href="/uploads/location-one.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/location-one.jpg" width="100%">
                    <div class="overColour"></div>
                    </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Parnell, Auckland’s Oldest Suburb</figcaption>
                </a>
            </figure>
        </div>
        <!-- absImg locBot -->
        <div class="four columns">
            <figure class="double">
                <a href="/uploads/location-two.jpg" class="galleryBox"><div class="blueOverlay"><img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" data-aos-delay="400" src="/uploads/location-two.jpg" width="100%">
                    <div class="overColour"></div>
                    </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="1s">Pineapple Bar</figcaption>
                </a>
            </figure>
        </div>


        <div class="two columns">
            &nbsp;
        </div>

        </div><!-- end row -->
        </div>
    </section>

    <section id="section4" class="section">
        <div class="fullView">
            <div id="map" class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" data-aos-delay="200"></div>
            <script>
                var mymap = L.map('map',{
                    scrollWheelZoom: false,
                }).setView([-36.85258, 174.7815], 16);

                L.tileLayer('https://api.mapbox.com/styles/v1/asferens/cj4c1k3r104js2rmnyt1yog0d/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXNmZXJlbnMiLCJhIjoiUFVpUWtBSSJ9.BkWDrqIrFstKBHAKv9TsvQ', {
                    maxZoom: 18,
                    id: 'mapbox.streets',
                    accessToken: 'pk.eyJ1IjoiYXNmZXJlbnMiLCJhIjoiUFVpUWtBSSJ9.BkWDrqIrFstKBHAKv9TsvQ'
                }).addTo(mymap);

                // create custom icon
                var editionIcon = L.icon({
                    iconUrl: 'https://editionparnell.co.nz/img/square.svg',
                    iconSize: [12, 12], // size of the icon
                    });

                // create marker object, pass custom icon as option, add to map
                var marker = L.marker([-36.8512, 174.7806], {icon: editionIcon}).addTo(mymap);

            </script>
        </div>
    </section>

{% endblock %}
