{% extends "_layout" %}

{% block content %}

<div id="fullpage" class="container">

    <section id="section0" class="blackModule section">

        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                <ul>
                    <li>
                        <a href="/#two">Home</a>
                    </li>
                    <li>
                        <a href="/architecture">Architecture</a>
                    </li>
                    <li>
                        <a href="/interiors">Interiors</a>
                    </li>
                    <li>
                        <a href="/location">Location</a>
                    </li>
                    <li class="blueLink">
                        <a href="/the-team/monk-mackenzie">The Team</a>
                    </li>
                    <li>
                        <a href="/floor-plans">Floor Plans</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                </nav>
            </div>

            <div class="one columns">
                &nbsp;
            </div>

            <div class="three columns">
                <nav class="nav">
                    <ul>
                        <li>
                            The Team
                        </li>
                        <li>
                            <br>
                        </li>
                        <li class="blueLink">
                            <a href="/the-team/monk-mackenzie">Monk Mackenzie</a>
                        </li>
                        <li>
                            <a href="/the-team/bureaux">Bureaux</a>
                        </li>
                        <li>
                            <a href="/the-team/lep-group">LEP Group</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="six columns threeP teamTitle">
                <h2>Monk Mackenzie is an architectural practice established in 2014 and based in the heart of Auckland city, but informed by its partners’ considerable experience overseas; Hamish Monk and Dean Mackenzie spent years based out of London and New York, working on projects in Russia, the Middle East and more. Now focussed on making Auckland more interesting and a vibrant place to live, they’re responsible for several of the city’s new civic spaces, including the Light Path.</h2>
            </div>

        </div><!-- end row -->

        <div class="row botTitle">

            <div class="twelve columns">
                <h4>Monk<br> Mackenzie</h4>
            </div>

        </div><!-- end row -->
    </section>

    <section id="section1" class="section">
        <div class="fullView monkView aos-item" data-aos="fade" data-aos-easing="ease-in-quad">
        </div>
    </section>

    <section id="section2" class="section">
        <div class="slide hide-lg">
            <div class="fullBorder">
                <div class="row fullCenter">

                <div class="two columns">
                    &nbsp;
                </div>

                <div class="eight columns">
                    <figure>
                        <a href="/uploads/monk-hero.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/monk-hero.jpg" width="100%">
                            <div class="overColour"></div>
                            </div>
                        <figcaption></figcaption>
                        </a>
                    </figure>
                </div>

                <div class="two columns">
                    &nbsp;
                </div>
            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/monk-slide-one.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/monk-slide-one.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Waiatarua House</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/monk-slide-two.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/monk-slide-two.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Light Path</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/monk-slide-three.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/monk-slide-three.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Waharoa Bridge</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
        <div class="slide">
            <div class="fullBorder">
            <div class="row fullCenter">

            <div class="two columns">
                &nbsp;
            </div>

            <div class="eight columns">
                <figure>
                    <a href="/uploads/monk-slide-four.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/monk-slide-four.jpg" width="100%">
                        <div class="overColour"></div>
                        </div>
                        <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Jack’s Point X House</figcaption>
                    </a>
                </figure>
            </div>

            <div class="two columns">
                &nbsp;
            </div>

            </div><!-- end row -->
            </div>
        </div>
    </section>

    <section id="section3" class="section">
        <div class="fullBorder">
        <div class="row fullCenter doubleSplit">

        <div class="two columns">
            &nbsp;
        </div>

        <div class="four columns">
            <figure class="double">
                <a href="/uploads/monk-one.jpg" class="galleryBox"><div class="blueOverlay"><img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/monk-one.jpg" width="100%">
                    <div class="overColour"></div>
                    </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Giraffe House</figcaption>
                </a>
            </figure>
        </div>

        <div class="three columns">
            &nbsp;
        </div>

        <div class="three columns">
            <nav class="nav hide-sm">
                <ul>
                    <li>
                        The Team
                    </li>
                    <li>
                        <br>
                    </li>
                    <li class="blueLink">
                        <a href="/the-team/monk-mackenzie">Monk Mackenzie</a>
                    </li>
                    <li>
                        <a href="/the-team/bureaux">Bureaux</a>
                    </li>
                    <li>
                        <a href="/the-team/lep-group">LEP Group</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="four columns absImg">
            <div class="row split">
                <div class="six columns">
                    <figure class="double">
                        <img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" data-aos-delay="400" src="/uploads/monk-hamish.jpg" width="100%">
                        <figcaption class="wow fadeInDown" data-wow-delay="1s">Hamish Monk</figcaption>
                    </figure>
                </div>
                <div class="six columns">
                    <figure class="double">
                        <img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" data-aos-delay="400" src="/uploads/monk-dean.jpg" width="100%">
                        <figcaption class="wow fadeInDown" data-wow-delay="1s">Dean Mackenzie</figcaption>
                    </figure>
                </div>
            </div>
        </div>


        <div class="three columns">
            <nav class="nav hide-lg">
                <ul>
                    <li>
                        The Team
                    </li>
                    <li>
                        <br>
                    </li>
                    <li class="blueLink">
                        <a href="/the-team/monk-mackenzie">Monk Mackenzie</a>
                    </li>
                    <li>
                        <a href="/the-team/bureaux">Bureaux</a>
                    </li>
                    <li>
                        <a href="/the-team/lep-group">LEP Group</a>
                    </li>
                </ul>
            </nav>
        </div>

        </div><!-- end row -->
        </div>
    </section>

{% endblock %}
