{% extends "_404-layout" %}
{% set title = "404" %}

{% block content %}
    <div id="fullpage" class="container">
        <section id="header" class="section">
            <div class="edition">
                <h1><a href="{{ siteUrl }}">404</a></h1>
            </div>
        </section>
    </div>
{% endblock %}
