{% extends "_soon" %}

{% block content %}
<div id="fullpage" class="container">

    <section id="header" class="section holding">
        <a href="/" class="headDown">
            <div class="edition">
                <h1><img src="/img/edition.svg" alt="Edition" title="Edition" width="188px"></h1>
            </div>
        </a>
    </section>

</div><!-- end container -->
{% endblock %}
