<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="shortcut icon" href="/favicon.ico" >
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  	{% includeCssFile "/css/site.min.css?v=3.11" %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	{% includeJsFile "/js/main.min.js?v=1.11" %}
</head>

<body class="404-page">

	<div id="menuShow" class="menuContainer">
		<div class="row rowHead rowMenu">

            <div class="two columns">
                <a href="/">Edition Parnell</a>
            </div>

            <div class="four columns dead">
                &nbsp;
            </div>

            <div class="two columns threeP">
                <span class="register">Register Your Interest</span>
            </div>

            <div class="four columns">
				<div class="menu btn">
					<div class="icon">
					</div>
				</div>
			</div>
		</div><!-- end row -->

		<div class="fullMenu">
			<div class="row rowHead rowMenu whiteMenu">

	            <div class="two columns">
	                <a href="/">Edition Parnell</a>
	            </div>

	            <div class="four columns dead">
	                &nbsp;
	            </div>

	            <div class="two columns threeP">
	                <span class="register">Register Your Interest</span>
	            </div>
			</div>
			<nav class="blueNav">
				<ul>
					<li>
						<h4><a href="/">Home</a></h4>
					</li>
					<li>
						<h4><a href="/architecture">Architecture</a></h4>
					</li>
					<li>
						<h4><a href="/interiors">Interiors</a></h4>
					</li>
					<li>
						<h4><a href="/location">Location</a></h4>
					</li>
					<li>
						<h4><a href="/the-team/monk-mackenzie">Team</a></h4>
					</li>
					<li>
						<h4><a href="/floor-plans">Floor Plans</a></h4>
					</li>
					<li>
						<h4><a href="/gallery">Gallery</a></h4>
					</li>
					<li>
						<h4><a href="/contact">Contact</a></h4>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="registerMenu">
		<div class="form">
			<span class="slideClose">✕</span>
			<form>
				<input type="text" placeholder="Name">
				<input type="text" placeholder="Surname">
				<input type="tel" placeholder="Phone">
				<input type="email" placeholder="Email">
				<input type="text" placeholder="Suburb">
				<input type="text" placeholder="City">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>

	<div class="upDown">
		<div id="moveUp"></div>
		<div id="moveDown"></div>
	</div>

	<div id="container">

		<main id="content" role="main">
			{% block content %}
			{% endblock %}

			{% include '_includes/footer' %}

		</main>

	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99826593-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
