<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="description" content="Edition is home to contemporary, thoughtful spaces created with flexibility in mind." />
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="shortcut icon" href="/favicon.ico" >
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<meta property="og:title" content="Edition"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://editionparnell.co.nz/"/>
	<meta property="og:description" content="Edition is home to contemporary, thoughtful spaces created with flexibility in mind."/>
	<meta property="og:image" content="https://editionparnell.co.nz/img/social.jpg"/>
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:site_name" content="Edition Parnell"/>

  	{% includeCssFile "/css/site.min.css?v=1.6" %}
	<link rel="stylesheet" href="https://wf.typotheque.com/WF-029676-009922" type="text/css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	{% includeJsFile "/js/main.min.js?v=1.6" %}
	{% includeJsFile "/js/modernizr-custom.js" %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js"></script>
	<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.6/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.6/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>

</head>

<body class="{{ entry.title|lower }}-page">

	<div id="menuShow" class="menuContainer">
		<div class="row rowHead rowMenu">

			<div class="three columns menuCol">
				&nbsp;
				<div class="menu btn">
					<div class="icon">
					</div>
				</div>
				<div class="menuWord">
					Menu
				</div>
			</div>

            <div class="three columns">
                <a href="/#two">Edition</a>
            </div>

            <div class="six columns threeP">
                <span class="register">Register Your Interest</span>
            </div>
		</div><!-- end row -->

		<div class="fullMenu">
			<div class="row rowHead rowMenu whiteMenu">

				<div class="three columns menuCol">
					&nbsp;
					<div class="menuWord">
						Close
					</div>
				</div>

	            <div class="three columns">
	                <a href="/#two">Edition</a>
	            </div>

	            <div class="six columns threeP">
	                <span class="register">Register Your Interest</span>
	            </div>

			</div>
			<nav class="blueNav">
				<ul>
					<li>
						<h4><a href="/">Home</a></h4>
					</li>
					<li>
						<h4><a href="/architecture">Architecture</a></h4>
					</li>
					<li>
						<h4><a href="/interiors">Interiors</a></h4>
					</li>
					<li>
						<h4><a href="/location">Location</a></h4>
					</li>
					<li>
						<h4><a href="/the-team/monk-mackenzie">Team</a></h4>
					</li>
					<li>
						<h4><a href="/floor-plans">Floor Plans</a></h4>
					</li>
					<li>
						<h4><a href="/gallery">Gallery</a></h4>
					</li>
					<li>
						<h4><a href="/contact">Contact</a></h4>
					</li>
					<li class="hide-lg">
						<h4><span class="register" href="/#register">Register</span></h4>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="registerMenu">
		<div class="formWrap">
			<div class="closeObj">
				<span class="slideClose">✕</span> <span class="slideClose closeWord">Close</span>
			</div>
			{% set form = craft.formBuilder2.getFormByHandle('register') %}
	    		{% set formSettings = form.formSettings %}
	    		{% set spamProtectionSettings = form.spamProtectionSettings %}
	    		{% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
	    		{% set scripts = craft.formBuilder2.includeScripts(form) %}

	    		{# Errors/Success Messages #}
	    	  <div class="notifications">
	    	    <p class="notification error-message">{{ craft.session.getFlash('error') | raw }}</p>
	    	    <p class="notification success-message">{{ craft.session.getFlash('success') | raw }}</p>
	    	    {% set errors = (errors is defined ? errors : null) %}
	    	    {% if errors %}
	    	    <ul class="errors">
	    	      {% for error in errors %}
	    	        <li>{{ error }}</li>
	    	      {% endfor %}
	    	    </ul>
	    	    {% endif %}
	    	  </div>

	        <form method="post" accept-charset="utf-8" name="{{ form.handle }}" class="formbuilder2" id="{{ form.handle }}"{% if formSettings.hasFileUploads == '1' %} enctype="multipart/form-data"{% endif %}>
	    		  <input type="hidden" name="action" value="formBuilder2/entry/submitEntry">
	    		  <input type="hidden" name="redirect" data-custom-redirect="{{ formSettings.formRedirect.customRedirect }}" value="{{ formSettings.formRedirect.customRedirectUrl }}">
	    		  <input type="hidden" name="formHandle" value="{{ form.handle }}">
	    		  {% if spamProtectionSettings.spamTimeMethod == '1' %}<input type="hidden" name="spamTimeMethod" value="{{ 'now'|date('U') }}">{% endif %}
	    		  {% if spamProtectionSettings.spamHoneypotMethod == '1' %}<div style="display:none;"><label for="email-addresss-new">{{ spamProtectionSettings.spamHoneypotMethodMessage }}</label><input name="email-address-new" value="" id="email-addresss-new"></div>{% endif %}
	    		  {{ getCsrfInput() }}

	    		  {# Fields #}
	    		  {% for tab in tabs %}
	    		    {% set fields = tab.getFields() %}
	    		    <fieldset class="{{ tab.name | camelCase(tab.name) }}">
	    		      {% for field in fields %}
	    		        {% set input = craft.formBuilder2.getInputHtml(field) %}
	    		        {{ input |raw }}
	    		      {% endfor %}
	    		    </fieldset>
	    		  {% endfor %}

	          <div class="space"></div>
	          <input type="submit" value="Submit" />
	    	</form>
		</div>
	</div>

	<div class="upDown">
		<div id="moveUp"></div>
		<div id="moveDown"></div>
	</div>

	<div class="ctaBar">
		<div class="row">
			<div class="six columns ctaLeft">
				<p class="register hide-sm">Click here to register your interest now</p>
				<p class="register hide-lg">Register now</p>
			</div>
			<div class="six columns ctaRight">
				Close
			</div>
		</div>
	</div>

	<div id="container">

		<main id="content" role="main">
			{% block content %}
			{% endblock %}

			{% include '_includes/footer' %}

		</main>

	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99826593-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
