<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="description" content="Edition is home to contemporary, thoughtful spaces created with flexibility in mind." />
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="shortcut icon" href="/favicon.ico" >
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<meta property="og:title" content="Edition"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://editionparnell.co.nz/"/>
	<meta property="og:description" content="Edition is home to contemporary, thoughtful spaces created with flexibility in mind."/>
	<meta property="og:image" content="https://editionparnell.co.nz/img/social.jpg"/>
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:site_name" content="Edition Parnell"/>

  	{% includeCssFile "/css/site.min.css?v=2.4" %}

	{% includeJsFile "/js/main.min.js?v=1" %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body class="soon">
	<div id="container">

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>

	</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99826593-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
