{% extends "_layout" %}

{% block content %}
<div id="fullpage" class="container">

    <section id="header" class="section" style="background-color: #000000;">
        <div class="edition">
            <h1><a href="#two"><img src="/img/edition.svg" alt="Edition" title="Edition" width="188" height="46.33"></a></h1>
        </div>
    </section>


    <section id="section0" class="whiteModule section">
        <div class="row para">
            <div class="two columns">
                <nav class="nav">
                <ul>
                    <li class="blueLink">
                        <a href="/#two">Home</a>
                    </li>
                    <li>
                        <a href="/architecture">Architecture</a>
                    </li>
                    <li>
                        <a href="/interiors">Interiors</a>
                    </li>
                    <li>
                        <a href="/location">Location</a>
                    </li>
                    <li>
                        <a href="/the-team/monk-mackenzie">The Team</a>
                    </li>
                    <li>
                        <a href="/floor-plans">Floor Plans</a>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                </nav>
            </div>

            <div class="four columns">
                &nbsp;
            </div>

            <div class="six columns threeP">
                <h2>There’s a sense of freedom in distillation; in paring back to allow a space to exist. This is the thinking behind Edition, a timeless, elegantly designed apartment building situated on 2 Churton Street in the heart of Parnell. Edition is home to contemporary, thoughtful spaces created with flexibility in mind. The building accommodates just 19 homes: beautiful, spacious environments designed by architects Monk Mackenzie with interiors by Bureaux. Finalist at World Architecture Festival</h2>
            </div>

        </div><!-- end row -->
    </section>

    <!--<section id="section1" class="section">
        <div class="fullView extView aos-item" data-aos="fade" data-aos-easing="ease-in-quad">
        </div>
    </section>-->

    <section id="section2" class="section secHeight">
        <div class="fullBorder hide-lg">
            <figure class="fullCenter">
                <img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/edition-parnell-home-hero.jpg" width="100%">
                <figcaption></figcaption>
            </figure>
        </div>

        <div class="fullBorder">
            <figure class="fullCenter">
                <a href="/architecture"><div class="blueOverlay">
                    <img class="aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/explore-architecture.jpg" width="100%">
                    <div class="overColour"></div>
                </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Explore Architecture</figcaption>
                </a>
            </figure>
        </div>

    </section>

    <section id="section3" class="section">
        <div class="fullBorder">
            <figure class="fullCenter">
                <a href="/interiors"><div class="blueOverlay">
                    <img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/explore-interiors.jpg" width="100%">
                    <div class="overColour"></div>
                </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Explore Interiors</figcaption>
                </a>
            </figure>
        </div>
    </section>

    <section id="section4" class="section">
        <div class="fullBorder">
        <div class="row fullCenter">

        <div class="two columns">
            &nbsp;
        </div>

        <div class="four columns">
            <figure class="double">
                <a href="/location"><div class="blueOverlay">
                    <img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="/uploads/the-location.jpg" width="100%">
                    <div class="overColour"></div>
                </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="0.6s">Explore The Location</figcaption>
                </a>
            </figure>
        </div>

        <div class="four columns">
            <figure class="double">
                <a href="/the-team/monk-mackenzie"><div class="blueOverlay">
                    <img class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" data-aos-delay="400" src="/uploads/the-team.jpg" width="100%">
                    <div class="overColour"></div>
                </div>
                    <figcaption class="wow fadeInDown" data-wow-delay="1s">Explore The Team</figcaption>
                </a>
            </figure>
        </div>


        <div class="two columns">
            &nbsp;
        </div>

        </div><!-- end row -->
        </div>
    </section>

    <section id="section5" class="section video">
        <div class="fullBorder">
            <figure class="fullCenter">
                <iframe class"aos-item" data-aos="fade" data-aos-easing="ease-in-quad" src="https://player.vimeo.com/video/223053865?color=ffffff&title=0&byline=0&portrait=0" width="944" height="531" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </figure>
        </div>
    </section>

{% endblock %}
