{% extends "_submit" %}

{% block content %}
<div id="fullpage" class="container">

    <section id="regHeader" class="section">
        <div class="edition success">
            <a href="/#two" class="headDown regCess"><h2>Thank you for your registration.</h2></a>
        </div>
    </section>

</div><!-- end container -->
{% endblock %}
